.synthese
{
   
    i{
            padding-right:1.5rem;
        }
    .w95{
        width:98%;
        margin: 1rem;
    }
    p{
    font-size: 1.375rem;
        
    }
    font-size: 1.375rem;
    display: flex;
    flex-direction: column;
    .objectif
    {
         @media #{$medium-up} {
            width: 60%;
        }
         @media #{$small-only} {
              margin:2rem;
         }
    }
    .blocright
    {
        position:relative;float:left;
         p{margin-top: 0px;}
        width:36%;
         @media #{$small-only} {
            top:1rem;
            
            max-width: 95%;
            min-width: 95%;
            margin:1rem;
        }
    }
    .lesplus
    {
         float:left;
         color:$secondaryColor;
         width: 100%;
         position:relative;
         padding: 2rem 2rem;
         margin:1rem;
          @media #{$medium-up} {
            top:-5rem;
        }
        .plus{
                font-size: 2rem;          
                font-weight: bold;
                color: $secondaryColor;
                font-family:'Open Sans', arial;
                line-height: 24px;
                
                vertical-align: top;
                
                i{
                    padding-right: 1rem;
                }
        }
    }
    .infos
    {
        float:left;
        color:white;
        font-size: 1.375rem;
     
        position:relative;
        max-height:40rem;
        width: 100%;
        
        margin:1rem;
        padding: 2rem 3rem;
        background-color:$primaryColor;
        p{font-size: 1.375rem;}
        b{
            font-weight: 700;
            font-size: 2rem;
        }
       .pdf{
       a{color:white;}
       }
       
        .bleu
        {
            color:$secondaryColor;
            padding:0px;
            font-size: 1rem;
            display:block;
        }
        display: block;
        @media #{$small-only} {
            top:1rem;
            
            max-width: 95%;
            min-width: 95%;
            margin:1rem;
        }
        @media #{$medium-up} {
            top:-5rem;
        }
        .btn-white
        {
            background-color: white;
            font-size: 1.375rem;
            
        }
       
        a{
            color: $secondaryColor;
             text-decoration: none;
        }
    }
    .info
    {
        div {
            display: inline-block;
            margin-top: 2rem;
        }
        .bloc_icon
        {
          width:20%; 
          vertical-align: top; 
        }
        .bloc_label
        {
          width:75%;  
           vertical-align: top; 
        }
       .pdf
       {
          color: white;
       }
        
    }
 .incriptionform
 {
     color: white;
     padding:3rem;
     background: $secondaryColor;
     
     width: 100%;
     margin-top:3rem;
     
     p
     {
         margin: 10px 0px 10px 0px;
     }
     
      
     .btn
     {
         margin-top:1.5rem;
         background: white;
         color: $secondaryColor;
         border-color: white;
     }
 }
 
    
}
