#equipe {
  .slide__header {
    background-image: url('../images/header-equipe-'+$theme+'.jpg');
  }
}

#contact {
  .slide__header {
    background-image: url('../images/header-contact-'+$theme+'.jpg');
  }
}

#events {
  .slide__header {
    background-image: url('../images/header-events-'+$theme+'.jpg');
  }
}

#references {
  .slide__header {
    background-image: url('../images/header-clients-'+$theme+'.jpg');
  }
}

#recette-magique {
  .slide__header {
    background-image: url('../images/header-recette-'+$theme+'.jpg');
  }
}
