#equipe {
  .slide__header {
    background-image: url('../images/header-equipe.jpg');
  }
}

#contact {
  .slide__header {
    background-image: url('../images/header-contact.jpg');
  }
}

#references {
  .slide__header {
    background-image: url('../images/header-clients.jpg');
  }
}

#recette-magique {
  .slide__header {
    background-image: url('../images/header-recette4.jpg');
  }
}
