#references .etude {
  position: relative;


  &__content {
    padding: 0 20px;
    position: relative;

    color: white;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;

    padding-bottom: 10px;

    @media #{$small-only} {
      background: $secondaryColor;
    }

    @media #{$medium-up} {
      padding-bottom: 50px;
      text-align: center;

    }

    .btn {
      color: white;
      border-color: white;
      margin: 0 auto;
      margin-bottom: 20px;
      @media #{$medium-up} {
        margin: 0 20px;
      }

    }

    p{
      margin-top: 0;
    }
  }

  @media #{$medium-up} {
    .row { margin-bottom: 20px; }
    margin-bottom: 30px;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 500px;
      background: $secondaryColor;
      z-index: 0;

      @media #{$large-up} {height: 600px;}
    }
  }

  header {
    @extend %contentPadding;
    padding-bottom: 0;
    position: relative;
    overflow: auto;

    background: $secondaryColor;

    h1 {
      max-width: 870px;
      margin-left: auto;
      margin-right: auto;
    }

    h1, p, p { color: white; }
    p:after { background: white; }

    @media #{$medium-up} {
      text-align: center;
      p:after {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &__groupe__btns {
    display: flex;

    flex-direction: row;
    justify-content: center;
  }

}

#references .slide {

  &__orange {
    background: $primaryColor;
    text-align: center;
    padding: 30px;
    position: relative;

    @media #{$medium-up} {
      max-width: 24%;
      flex-basis: 24%;
      margin-right: 1%;
      padding: 20px;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: -15px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 15px 18px 0 18px;
      border-color: $primaryColor transparent transparent transparent;

      @media #{$medium-up} {
        bottom: auto;
        top: 50%;
        transform: translateY(-50%);
        left: auto;
        right: -15px;
        border-width: 18px 0 18px 15px;
        border-color: transparent transparent transparent $primaryColor;

      }
    }

    svg {
      width: 80px;height: 80px;
      path { stroke: white; }
      @media #{$medium-up} {width: 100px; height: 100px;}
    }

    h3 {
      @extend %headingExtraBoldFont;
      font-size: 24px;
      text-transform: uppercase;
      color: white;
    }

    p{
      color: white;
      font-size: 20px;
      line-height: 24px;

      @media #{$medium-up} {font-size: 24px; line-height: 28px;}
    }
  }

  &__carousel {

    @media #{$medium-up} {
      max-width: 75%;
      flex-basis: 75%;

      display: flex;
      flex-direction: row;
    }

    &:after {
      content: 'flickity';
      display: none; /* hide :after */

      @media #{$medium-up} {
        content: '';
      }
    }

    & .flickity-page-dots {
      bottom: auto;
      top: 10%;

      .dot {
        background: $primaryColor;
      }
    }
  }


  &__item {
    padding: 80px 30px 30px;
    text-align: center;
    width: 100%;
    background: white;
    @extend %shadow;

    @media #{$medium-up} {
      margin: 0 10px;
      padding: 22px;
      padding-top: 40px;
    }

    &__title {
      @extend %contentBoldFont;

      font-size: 22px;
      line-height: 30px;
      color: $secondaryColor;

      &:after {
        content:'';
        background: url(/images/sourire.svg);
        width: 74px;
        height: 13px;
        display: block;
        margin: 0 auto;
        margin-top: 30px;
      }
    }

    &__img {
      margin: 0 30px;
      margin-top: 30px;
      img {
        width: 100%;
        max-width: 190px;
        max-height: 75px;
      }
    }

    &__society {
      @extend %contentBoldFont;
      margin-top: 20px;
      font-size: 24px;
      line-height: 30px;
      color: $secondaryColor;
    }

    &__descr {
      font-size: 22px;
      color: $primaryColor;
    }

    svg {
      path {fill: $secondaryColor!important;}
      width: 17px;
      height: 17px;
      margin-top: 20px;
    }
  }
}
