{{#> layout }} {{#*inline "content"}}
<div class="slide" id="agile-rocket-module">
    {{> slide-header title=title }}
    <div class="slide__content">
        <!--<section class="toolitem">
               <header class="toolitem__header">
                    {{headline}} 
               </header>   
        </section>-->
        <section class="module">
			<div class="row">
				<div class="module__content">
					<header>
						<p class="orangeText">
							Comment embarquer mon équipe vers un objectif partagé - inspirant - suscitant le rêve ?
						</p>
					</header>
					L’agilité n’est pas un objectif : la fusée est un moyen de transport, pas la finalité du voyage.

					Notre accompagnement sur la North Star permettra de définir la vision, une destination qui suscite le rêve, aide à maintenir le cap de la transformation agile. 
					La vision se travaille se raffine, évolue, l’idéal est de la faire émerger collectivement et de la décliner à tous les niveaux.

					Exprimer la vision ne suffit pas, écouter n’est pas adhérer, il faut pouvoir toucher les auditeurs. Une vision n’est pas rationnelle, sa force repose sur son pouvoir évocateur, sa capacité à susciter de l’émotion. Une vision est indispensable à tous les niveaux de fonctionnement : entreprise, direction, produit, équipe…
				</div>
				<div class="module__img">
		 			<img src="/images/agile-rocket/north-star.jpg" alt="La North Star">
				</div>
			</div>
		</section>
        {{> slide-nav-buttons
          prevTitle = 'Agile Rocket'
          prevPath = '/agile-rocket'
          nextTitle = 'Coopérer'
          nextPath = '/cooperer'
        }}
        {{> footer }}
    </div> 
</div>
{{/inline}} {{/layout}}