{{#> layout }} {{#*inline "content"}}
<div class="slide" id="agile-rocket-module">
    {{> slide-header title=title }}
    <div class="slide__content">
        <!--<section class="toolitem">
               <header class="toolitem__header">
                    {{headline}} 
               </header>   
        </section>-->
        <section class="module">
			<div class="row"> 
				<div class="module__content">
					<header> 
						<p class="orangeText">
						
						</p>
					</header>
					</div>
				<div class="module__img">
		 			<img src="/images/agile-rocket/north-star.jpg" alt="La North Star">
				</div>
			</div> 
		</section>
        {{> slide-nav-buttons
          prevTitle = 'Agile Rocket'
          prevPath = '/agile-rocket'
          nextTitle = 'Coopérer'
          nextPath = '/cooperer'
        }}
        {{> footer }}
    </div> 
</div>
{{/inline}} {{/layout}}