<body>
  {{#if beta}}
    <div class="beta-mode">Site Web Beta - modification numéro $(Build.SourceVersion) par $(Build.RequestedFor)</div>
  {{/if}}
  {{> svg-bulle}}
  <div class="ham">
  </div>
  <div class="nav">
    <div class="nav__container">
      <a class="nav__logo" href="/">
        {{svg "./logo-goood-couleur.svg"}}
      </a>
      <div class="nav__menu">
        <a href="/"><i class="fa fa-home"></i> Vision</a>
        <a href="/recette-magique/">Recette magique</a>
        <a href="/savoir-faire/">Savoir-faire</a>
        <a href="/references/">Références</a>
        <a href="/equipe-et-culture/">Équipe et culture</a>
        <a class="secondary" href="/recrutement/">Nous rejoindre</a>
        <a class="secondary" href="/agenda/">Agenda</a>
        <a class="secondary" href="/formations/">Formations</a>
        <a class="secondary" href="/toolkit/">Tooolkit</a>        
        <a class="secondary" href="/contact/">Contacts</a>
        <a class="secondary" href="https://blog.goood.pro/">Blog  <i class="fa fa-external-link"></i></a>
      </div>
    </div>
  </div>
  <div class="main-wrapper">
    <div class="wrap">
      {{#> content }}
      {{/content}}
    </div>
    <div class="subPageContainer">
      {{#> subPage }}
      {{/subPage}}
    </div>
  </div>
  <div id="outdated">
       <h6>Votre navigateur est trop ancien</h6>
       <p>Veuillez mettre à jour votre navigateur pour profiter pleinement de ce site. <a id="btnUpdateBrowser" href="http://outdatedbrowser.com/">Mise à jour</a></p>
       <p class="last"><a href="#" id="btnCloseUpdateBrowser" title="Close">&times;</a></p>
  </div>
    
  <script async src="https://cdnjs.cloudflare.com/ajax/libs/outdated-browser/1.1.3/outdatedbrowser.min.js"></script>
  <script async src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.15.1/plugins/ScrollToPlugin.min.js"></script>
  <script async src="/js/bundle.js"></script>
  <script src='/js/jquery.bxslider.min.js'></script>
  <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/outdated-browser/1.1.3/outdatedbrowser.min.css" as="style" onload="this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/outdated-browser/1.1.3/outdatedbrowser.min.css"></noscript>
  <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" as="style" onload="this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></noscript>
  <!--<link rel="preload" href="/css/app.css" as="style" onload="this.rel='stylesheet'">-->
  <!--<noscript><link rel="stylesheet" href="/css/app.css"></noscript>-->
  <script>
  /*! loadCSS. [c]2017 Filament Group, Inc. MIT License */
(function(w){
  "use strict";
  /* exported loadCSS */
  var loadCSS = function( href, before, media ){
    // Arguments explained:
    // `href` [REQUIRED] is the URL for your CSS file.
    // `before` [OPTIONAL] is the element the script should use as a reference for injecting our stylesheet <link> before
      // By default, loadCSS attempts to inject the link after the last stylesheet or script in the DOM. However, you might desire a more specific location in your document.
    // `media` [OPTIONAL] is the media type or query of the stylesheet. By default it will be 'all'
    var doc = w.document;
    var ss = doc.createElement( "link" );
    var ref;
    if( before ){
      ref = before;
    }
    else {
      var refs = ( doc.body || doc.getElementsByTagName( "head" )[ 0 ] ).childNodes;
      ref = refs[ refs.length - 1];
    }

    var sheets = doc.styleSheets;
    ss.rel = "stylesheet";
    ss.href = href;
    // temporarily set media to something inapplicable to ensure it'll fetch without blocking render
    ss.media = "only x";

    // wait until body is defined before injecting link. This ensures a non-blocking load in IE11.
    function ready( cb ){
      if( doc.body ){
        return cb();
      }
      setTimeout(function(){
        ready( cb );
      });
    }
    // Inject link
      // Note: the ternary preserves the existing behavior of "before" argument, but we could choose to change the argument to "after" in a later release and standardize on ref.nextSibling for all refs
      // Note: `insertBefore` is used instead of `appendChild`, for safety re: http://www.paulirish.com/2011/surefire-dom-element-insertion/
    ready( function(){
      ref.parentNode.insertBefore( ss, ( before ? ref : ref.nextSibling ) );
    });
    // A method (exposed on return object for external use) that mimics onload by polling document.styleSheets until it includes the new sheet.
    var onloadcssdefined = function( cb ){
      var resolvedHref = ss.href;
      var i = sheets.length;
      while( i-- ){
        if( sheets[ i ].href === resolvedHref ){
          return cb();
        }
      }
      setTimeout(function() {
        onloadcssdefined( cb );
      });
    };

    function loadCB(){
      if( ss.addEventListener ){
        ss.removeEventListener( "load", loadCB );
      }
      ss.media = media || "all";
    }

    // once loaded, set link's media back to `all` so that the stylesheet applies once it loads
    if( ss.addEventListener ){
      ss.addEventListener( "load", loadCB);
    }
    ss.onloadcssdefined = onloadcssdefined;
    onloadcssdefined( loadCB );
    return ss;
  };
  // commonjs
  if( typeof exports !== "undefined" ){
    exports.loadCSS = loadCSS;
  }
  else {
    w.loadCSS = loadCSS;
  }
}( typeof global !== "undefined" ? global : this ));


/*! loadCSS rel=preload polyfill. [c]2017 Filament Group, Inc. MIT License */
(function( w ){
  // rel=preload support test
  if( !w.loadCSS ){
    return;
  }
  var rp = loadCSS.relpreload = {};
  rp.support = function(){
    try {
      return w.document.createElement( "link" ).relList.supports( "preload" );
    } catch (e) {
      return false;
    }
  };

  // loop preload links and fetch using loadCSS
  rp.poly = function(){
    var links = w.document.getElementsByTagName( "link" );
    for( var i = 0; i < links.length; i++ ){
      var link = links[ i ];
      if( link.rel === "preload" && link.getAttribute( "as" ) === "style" ){
        w.loadCSS( link.href, link, link.getAttribute( "media" ) );
        link.rel = null;
      }
    }
  };

  // if link[rel=preload] is not supported, we must fetch the CSS manually using loadCSS
  if( !rp.support() ){
    rp.poly();
    var run = w.setInterval( rp.poly, 300 );
    if( w.addEventListener ){
      w.addEventListener( "load", function(){
        rp.poly();
        w.clearInterval( run );
      } );
    }
    if( w.attachEvent ){
      w.attachEvent( "onload", function(){
        w.clearInterval( run );
      } )
    }
  }
}( this ));


// formation slider must be at the end to prevent any error of js loading order
$(document).ready(function(){
  $('.slider1').bxSlider({
    slideWidth: 280,
    minSlides: 1,
    maxSlides: 3,
	moveSlides: 1,
    slideMargin: 10
  });
});
  </script>
</body>
