<footer class="footer">
  <div class="footer__logo">
    {{svg "./logo-goood-couleur.svg"}}
  </div>
  <div class="footer__icons">
    <a href="https://www.facebook.com/BeGooodPro/" target="_blank" title="Retrouvez Goood! aussi sur Facebook">
      {{svg "./Facebook-ico.svg"}}
    </a>
    <a href="https://twitter.com/gooodpro" target="_blank" title="Le fil Twitter de Goood!">
      {{svg "./twitter-ico.svg"}}
    </a>
    <a href="https://www.linkedin.com/company/gooodpro" target="_blank" title="Visitez la page entreprise de Goood! sur LinkedIn">
      {{svg "./linkedin-ico.svg"}}
    </a>
    <a href="https://www.youtube.com/channel/UCMgBb1HkR037UoyfTWJbSkg/featured" target="_blank" title="Chaîne YouTube de Goood!">
      {{svg "./youtube-ico.svg"}}
    </a>
    <a href="https://plus.google.com/u/1/+CltservicesIsWhatINeed" target="_blank" title="Goood! est aussi sur Google+">
      {{svg "./google-plus-ico.svg"}}
    </a>
  </div>
  <div class="footer__links">
    <a href="/contact/">
      Contacts&nbsp;
    </a>|
    <a href="/mentions/" title="Mentions légales" class="click-through">
      &nbsp;Mentions légales
    </a>
  </div>
</footer>
