<footer class="footer">
  <div class="footer__logo">
    {{svg "./logo-goood-couleur.svg"}}
  </div>
  <div class="footer__icons">
    <a href="https://www.facebook.com/BeGooodPro/">
      {{svg "./Facebook-ico.svg"}}
    </a>
    <a href="https://twitter.com/gooodpro">
      {{svg "./twitter-ico.svg"}}
    </a>
    <a href="https://www.linkedin.com/company/gooodpro">
      {{svg "./linkedin-ico.svg"}}
    </a>
    <a href="https://www.youtube.com/channel/UCMgBb1HkR037UoyfTWJbSkg/featured">
      {{svg "./youtube-ico.svg"}}
    </a>
  </div>
  <div class="footer__links">
    <a href="/contact/">
      Contacts |&nbsp;
    </a>
    <a href="#">
      Mentions légales
    </a>
  </div>
</footer>
