<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title>{{ title }}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/outdated-browser/1.1.3/outdatedbrowser.min.css">
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>
  {{> svg-bulle}}
  <div class="ham">
  </div>
  <div class="nav">
    <div class="nav__container">
      <a class="nav__logo" href="/">
        {{svg "./logo-goood-couleur.svg"}}
      </a>
      <div class="nav__menu">
        <a href="/">Vision</a>
        <a href="/recette-magique/">Recette magique</a>
        <a href="/references/">Références</a>
        <a href="/equipe-et-culture/">Équipe et culture</a>
        <a href="/evenements-formations/">Événements et Formations</a>
        <a href="/contact/">Contacts</a>
      </div>
    </div>
  </div>
  <div class="main-wrapper">
    <div class="wrap">
      {{#> content }}
      {{/content}}
    </div>
    <div class="subPageContainer">
      {{#> subPage }}
      {{/subPage}}
    </div>
  </div>
  <div id="outdated">
       <h6>Your browser is out-of-date!</h6>
       <p>Update your browser to view this website correctly. <a id="btnUpdateBrowser" href="http://outdatedbrowser.com/">Update my browser now </a></p>
       <p class="last"><a href="#" id="btnCloseUpdateBrowser" title="Close">&times;</a></p>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/outdated-browser/1.1.3/outdatedbrowser.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.15.1/plugins/ScrollToPlugin.min.js"></script>
  <script src="/js/bundle.js"></script>
  <script>
    outdatedBrowser({
      bgColor: '#f25648',
      color: '#ffffff',
      lowerThan: 'transform',
      languagePath: ''
    });
  </script>
</body>
