<!doctype html>
<html lang="fr-FR" manifest="https://goood.com/site.appcache">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title>{{ title }}</title>
  <meta property="fb:app_id" content="1965590823681005" /> 
  {{#if title}}
  <meta property="og:title" content="{{title}}" />
  {{else}}
  <meta property="og:title" content="Goood!" />
  {{/if}}
  <meta property="og:type" content="website" />
  {{#if path}}
  <meta property="og:url" content="https://goood.com/{{path}}/" />
  {{else}}
  <meta property="og:url" content="https://goood.com" />
  {{/if}}
  {{#if imagereseauxsociaux}}
  <meta property="og:image" content="https://goood.com/images/{{imagereseauxsociaux}}" />
{{else}}
  <meta property="og:image" content="https://goood.com/images/photo-video.jpg" />
  {{/if}}
  {{#if description}}
  <meta property="og:description" content="{{description}}" />
  {{else}}
  <meta property="og:description" content="Luttons contre le gâchis dans les entreprises. Les énergies dispersées, les processus inefficaces, les décisions interminables, les talents qui ne s’expriment pas … Ce n’est pas une fatalité. Ensemble, nous pouvons lutter." />
  {{/if}}
  <meta property="og:locale" content="fr_FR" />
  <meta property="og:site_name" content="Goood!" />
  <meta property="og:video" content="https://youtu.be/BI7K9lWhMgc" />
  <link rel="stylesheet" href="/css/app.css">
  <link rel="icon" href="/images/favicon.ico" />
  <meta name="google-site-verification" content="b-H21FOjMajcJWHjxc4N9KEgkPuDk54AVOO9PSF2TQA" />
  <link rel="canonical" href="https://www.goood.com/{{path}}/">

<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', 'UA-70741563-1', 'auto');
ga('send', 'pageview');
</script>
{{#if production}}
<script async src='https://www.google-analytics.com/analytics.js'></script>
{{/if}}
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js' ></script>

 <link rel="stylesheet" href="/css/jquery.bxslider.css">
</head>
{{#> body-layout }}
{{/body-layout}}
</html>
