<a class="logo" href="/">
  {{svg "./logo-goood-mono.svg"}}
</a>
{{#if isHome}}
<div class="slide__header">
  <div class="landing">
    <div class="landing__citation">
      {{svg "./citation-damien.svg"}}
    </div>
    <div class="landing__buttons">
      <a href="#vision-section" class="btn--vision btn btn--primary">
        Vision
      </button>
      <a href="/references/" data-text="Références" class="btn">
        <span>
          Références
        </span>
      </a>
    </div>
  </div>
</div>
{{else}}
<div class="slide__header">
  <div class="slide__title">
    {{title}}
  </div>
</div>
{{/if}}
