<a class="logo" href="/">
  {{svg "./logo-goood-mono.svg"}}
</a>
{{#if isHome}}
<div class="slide__header">
  <div class="landing">
    <div class="landing__pitch">
      <H2>Nous sommes GoooD!</H2>
      <H3>Nous questionnons, imaginons, développons et testons avec nos clients leur culture, leur organisation, leurs produits et leurs projets.</H3>
      <H3>Libérons les énergies créatives de vos équipes.</H3>
    </div>
    <div class="landing__links">
      <a href="#vision-section" class="lnk_vision">
        Notre Vision
      
      <a href="#mission-section" data-text="Références" class="lnk_mission">
        
          Notre mission
        
      </a>
         <a href="/savoir-faire/" data-text="savoir-faire" class="lnk_savoir-faire">
        
          Nos savoir-faire
        
      </a>
    </div>
  </div>
</div>
{{else}}
<div class="slide__header">
  <div class="slide__title">
    {{title}}
  </div>
</div>
{{/if}}
