<svg style="display: none;">
  <symbol id="bulle-bottom">
    <polygon stroke-width="0" id="Path" fill="#FFFFFF" points="126 76.5 126 0 50.5 0"/>
    <path d="M0.5,9 L55,9 L108.43,62.43 C110.868235,64.8613362 114.528098,65.5905473 117.712007,64.2793977 C120.895915,62.968248 122.980953,59.8732576 123,56.43 L123,9 L171.5,9" id="Shape" stroke="#FC4C02" stroke-width="12" vector-effect="non-scaling-stroke"  fill="none" fill-rule="evenodd" />

  </g>
</symbol>
</svg>

<svg style="display: none;">
  <symbol id="bulle-border" viewBox="0 0 181 236">

    <rect id="Rectangle" fill="#FFFFFF" x="48" y="56" width="134" height="183" stroke-width="0"></rect>
    <path d="M6,230 L54,230" id="Path" stroke="#FC4C02" stroke-width="12" stroke-linecap="round" vector-effect="non-scaling-stroke" stroke-linejoin="round"></path>
    <path d="M174,56 L174,6" id="Shape" stroke="#FC4C02" stroke-width="12" stroke-linecap="round" vector-effect="non-scaling-stroke" stroke-linejoin="round"></path>
    <path d="M174.01,96 L174.01,128" id="Shape" stroke="#FC4C02" stroke-width="12.01" stroke-linecap="round" vector-effect="non-scaling-stroke"></path>
  </symbol>
</svg>
