<svg xmlns="http://www.w3.org/2000/svg" width="684.01" height="231.95" viewBox="0 0 684.01 231.95">
  <title>bulle-texte</title>
  <text transform="translate(34.01 60.03)" font-size="28" fill="#fc4c02" font-family="Open Sans Extra-Bold, Open Sans">
    <tspan x="0" y="0">{{texte1}}</tspan>
    <tspan x="0" y="40">{{texte2}}</tspan>
    <tspan x="0" y="80">{{texte3}}</tspan>
  </text>
  <line x1="678.01" y1="107.33" x2="678.01" y2="138.66" fill="none" stroke="#fc4c02" stroke-linecap="round" stroke-linejoin="round" stroke-width="12.01"/>
  <path d="M648,170H314v47.39a8.54,8.54,0,0,1-14.57,6L246,170H18A12,12,0,0,1,6,158V18A12,12,0,0,1,18,6H666a12,12,0,0,1,12,12V81" fill="none" stroke="#fc4c02" stroke-linecap="round" stroke-linejoin="round" stroke-width="12.01"/>
</svg>
