{{#> layout }}
{{#*inline "content"}}
<div class="slide" id="agenda">
    {{> slide-header title=headline }}
    <div class="slide__content">
        <div class="row">
            <section class="intro">
                <p>
                    Chez Goood! on aime bien partager. Alors on s’investit dans des communautés proches de nos préoccupations : la diversité, le développement durable, le code, le software craftsmanship, l’agilité, la facilitation, les nouvelles formes d’organisations …
                    Vous trouverez ci-dessous les <a href="#prochaines-dates">prochaines dates</a> des événements que nous organisons, soutenons ou hébergeons. On s’y retrouve ?
                </p>
                {{> sessions }}
                <a name="communautes">&nbsp;</a>
                {{{ contents }}}
            </section>
        </div>
    </div>
    {{> slide-nav-buttons
          prevTitle = 'Recrutement'
          prevPath = '/recrutement/'
          nextTitle = 'Formations'
          nextPath = '/formations/'
    }}
    {{> footer }}
</div>
</div>



{{/inline}}
{{/layout}}

