<!doctype html>
<html lang="fr-FR" manifest="https://goood.pro/site.appcache">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title>{{ title }}</title>
  <meta property="og:title" content="Goood!" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://goood.pro" />
  <meta property="og:image" content="https://goood.pro/images/agenda.jpg" />
  <meta property="og:description" content="Chez Goood! on aime partager, venez-nous rencontrer sur les prochains événements où nous participons." />
  <meta property="og:locale" content="fr_FR" />
  <meta property="og:site_name" content="Goood!" />
  <meta property="og:video" content="https://youtu.be/BI7K9lWhMgc" />
  <link rel="stylesheet" href="/css/app.css">
  <link rel="icon" href="/images/favicon.ico" />
 
<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', 'UA-70741563-1', 'auto');
ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
</head>

{{#> body-layout }}
{{#*inline "content"}}
<div class="slide" id="agenda">
    {{> slide-header title=headline }}
    <div class="slide__content">
        <div class="row">
            <section class="intro">
                <p>
                    Chez Goood! on aime bien partager. Alors on s’investit dans des communautés proches de nos préoccupations : la diversité, le développement durable, le code, le software craftsmanship, l’agilité, la facilitation, les nouvelles formes d’organisations …
                    Vous trouverez ci-dessous les <a href="#prochaines-dates">prochaines dates</a> des événements que nous organisons, soutenons ou hébergeons. On s’y retrouve ?
                </p>
                <div class="formationListe__content">
                    <div id="training-container"></div>
                </div>
                <a name="communautes">&nbsp;</a>
                {{{ contents }}}
            </section>
        </div>
    </div>
    {{> slide-nav-buttons
          prevTitle = 'Recrutement'
          prevPath = '/recrutement/'
          nextTitle = 'Formations'
          nextPath = '/formations/'
    }}
    {{> footer }}
</div>
</div>

<script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../js/TrainingSessions.js" type="module"></script>

{{/inline}}
{{/body-layout}}

