{{#> layout }}
  {{#*inline "content"}}
    <div class="slide" id="agile-rocket">
      {{> slide-header title=headline }}
      <div class="slide__content">
        <section class="rocketmodule__question">
          <div class="row">
            <div class="rocketmodule__question__content">
                <header>
                    <p>Question(s)</p>
                </header>
                <p>{{{ question }}}</p>
            </div>
          </div>
        </section>
        <section class="rocketmodule__histoire-but">
          <div class="row">
            <div class="rocketmodule__histoire-but__content__img" >
              <img src="/images/agile-rocket/{{ image }}" alt="Agile Rocket" />
            </div>
                       </div>
             <div class="row">
             <div class="rocketmodule__histoire-but__content__scribing">
             <img src="/images/agile-rocket/2-Cooperer.jpeg" alt="Agile Rocket" />
             </div>
          </div>
        </section>
        <section class="rocketmodule__histoire-but">
            <div class="rocketmodule__histoire-but__content" style="background-color:#9be4d1;" > 
              <header>
                  <p>Histoire</p>
              </header>

              <p>{{{ contents }}}</p>
            </div>
        </section>
           <section class="rocketmodule__histoire-but">
            
            <div class="rocketmodule__histoire-but__content">
              <header>
                  <p>But</p>
              </header>
              <p>{{{ but }}}</p>
            </div>
        </section>
        {{> slide-nav-buttons
          prevTitle = prevTitle
          prevPath = prevPath
          nextTitle = nextTitle
          nextPath = nextPath
        }}
        {{> footer }}
      </div>
    </div>
  {{/inline}}
{{/layout}}
