{{#> layout }}
  {{#*inline "content"}}
    <div class="slide" id="agile-rocket">
      {{> slide-header title=headline }}
      <div class="slide__content">
        <section class="rocket__demarche">
          <div class="row">
            <div class="rocket__demarche__content">
              <header >
                <p>Qu'est-ce que c'est?</p>
                <h1>Une démarche modulaire et progressive pour mettre en oeuvre une transformation agile</h1>
              </header>
              
            </div>
          </div>
         
        </section>

     <div class="actions">
        <div class="action"> 
          <p>Envie d'apprendre à mettre en oeuvre la démarche?</p>
          <a href="#" class="btn btn-secondary">Formation</a>
        </div>
        <div class="action">
          <p>On s'organise un dej pour présenter l'Agile Rocket chez vous?</p>
          <a href="#" class="btn btn-secondary">BBL</a>
        </div>
        <div class="action">
          <p>Le guide pour un voyage exploratoire agile et modulaire</p>
          <a href="{{rocketguideAcheter}}" class="arrow-link link-orange">Acheter le livre  {{svg "./fleche-droite-ico.svg"}}</a>
          <a href="{{rocketguidepdf}}" class="arrow-link link-orange">Télécharger le PDF {{svg "./fleche-droite-ico.svg"}}</a>
        </div>
     </div>
     <div class="row"><p class="demarrer">Demarrer le voyage <p></div>
     <section class="intro">
       <div class="row"> 
        <header>
          <p>Une histoire</p>
        </header>
        <div>
          <div class="div_left w55 movetextover">{{{contents}}}</div>
          <div class="div_left w45" ><img src="/images/agile-rocket/{{image}}" class="shadow" alt="L'agile Rocket" width="85%" height="85%"/></div>
        </div>
       
       </div>
     
       <div class="row"> 
         <img src="/images/agile-rocket/add_modules.jpg" width=97% alt="Décomposition des parties de la rocket">
       </div>
     </section>
     <div class="row"><p class="demarrer">Décourvir les modules <p></div>
     <section class="rocket_modules">

          {{#each agile_rocket_modules}}
          <div class="row margin0">
            <div>
              <img src="/images/agile-rocket/{{image}}" width="150px" height="150px"/> 
            </div>
            <div> 
              <header>
              {{#if partie}}
              <p>{{partie}}</p>
              {{/if}}
              
              <H1>{{title}}</H1>
              </header>
            </div>
          </div>
          <div class="row">
           <div class="w45">
             {{#if scribing}}
              <img src="/images/agile-rocket/{{scribing}}"  class="scribbing"/>
              {{/if}}
           </div>
           <div class="rocket_modules_content">
              <h2>{{question}}</h2>          
              {{{contents}}}
           </div>
          </div>
          {{/each}}
        </section><!-- end section rocket_modules -->
     </div>

        
        
        {{> slide-nav-buttons
          prevTitle = 'Formations'
          prevPath = '/formations/'
          nextTitle = 'Contacts'
          nextPath = '/contact/'
        }} {
        {> footer }}
      </div>
    </div>
  {{/inline}}
{{/layout}}
