{{#> layout }} {{#*inline "content"}}
<div class="slide" id="agile-rocket">
  {{> slide-header title=headline }}
  <div class="slide__content">
    <header class="header">
      <h1>Une démarche alternative vers une agilité respectueuse, spécifique, modulaire et progressive</h1>
    </header>
  </div>
  <section class="rocket">
    <div class="rocket__left">
      <div class="row green">
        <h2>Les étages</h2>
        <p>Matérialisation d’une progression dans la maturité.<br/> Trois étages orientés vers la production de valeur.</p>
        <a class="btn btn--small button_specific" data-text="En savoir plus" href="/agile-rocket/cooperer" role="button" data-toggle="modal">
                        <span>Coopérer</span>
              </a>
        <a class="btn btn--small button_specific" data-text="En savoir plus" href="/agile-rocket/ameliorer" role="button" data-toggle="modal">
                        <span>Améliorer</span>
              </a>
        <a class="btn btn--small button_specific" data-text="En savoir plus" href="/agile-rocket/fluidifier" role="button" data-toggle="modal">
                        <span>Fluidifier</span>
              </a>
      </div>
      <div class="row blue">
        <h2>Stabilisateurs</h2>
        <p>Assurent le pilotage et le guidage du vol.</p>
        <a class="btn btn--small button_specific" data-text="En savoir plus" href="/agile-rocket/management" role="button" data-toggle="modal">
                        <span>Management complexe</span>
              </a>
        <a class="btn btn--small button_specific" data-text="En savoir plus" href="/agile-rocket/maitrise" role="button" data-toggle="modal">
                        <span>Maîtrise personnelle</span>
              </a>
      </div>

    </div>
    <div class="rocket__middle">
      <img src="/images/agile-rocket/rocket.jpg" alt="Agile Rocket">

    </div>
    <div class="rocket__right">
      <div class="row yellow">

        <h2>La North Star</h2>
        <p>Comment embarquer l’équipage vers un objectif partagé - inspirant - suscitant le rêve ?</p>
        <a class="btn btn--small button_specific" data-text="En savoir plus" href="/agile-rocket/north-star" role="button" data-toggle="modal">
                        <span>La North Star</span>
              </a>
      </div>
      <div class="row pink">
        <h2>Boucliers thermiques</h2>
        <p>Faire la bonne chose correctement.</p>
        <a class="btn btn--small button_specific" data-text="En savoir plus" href="/agile-rocket/produit" role="button" data-toggle="modal">
                        <span>Le bon produit</span>
              </a>
        <a class="btn btn--small button_specific" data-text="En savoir plus" href="/agile-rocket/excellence" role="button" data-toggle="modal">
                        <span>Excellence (d'ingénierie)</span>
              </a>
      </div>
      <div class="row grey">
        <header>
          <h2>Réussir</h2>
        </header>
        <p>Radar et carburant pour soutenir la réussite</p>
        <a class="btn btn--small button_specific" data-text="En savoir plus" href="/agile-rocket/culture" role="button" data-toggle="modal">
                          <span>Culture Agile</span>
                </a>
        <a class="btn btn--small button_specific" data-text="En savoir plus" href="" role="button" data-toggle="modal">
                          <span>Vision Systémique</span>
                </a>
      </div>
    </div>
  </section>

  <section class="rocket_orange">
    <div class="row">
      <div class="rocket_orange__content">
        <p>La métaphore de l’Agile Rocket vise à guider progressivement le lecteur vers une meilleure compréhension de ce qu’est une démarche vers plus d’agilité, des problèmes auxquels nous tentons d’apporter des améliorations (faute de prétendre à LA solution)
          et des invitations à la transformation progressive que nous portons.</p>
      </div>
      <div class="rocketdesc__img">
      </div>
    </div>
  </section>

  <section class="rocket">
      <div class="row">
        <div class="rocket__book">
        <img src="/images/agile-rocket/rocket_guide_book.jpg"/>
      </div>
    <div class="row">
      <div class="rocket__content">
        <header>
                  <p>Comprendre la démarche</p>
              </header>
        <p>Ce guide, rédigé par cinq coaches agiles de la société Goood!, propose de construire un voyage de transformation agile de façon modulaire et progressive.</p>
        <p>Sponsor, managers et équipage sont conviés à imaginer leur destination et d'améliorer progressivement et de manière structurée leur fonctionnement quotidien.</p>
<p>Pour chaque module sont proposés : la question à résoudre, une introduction humoristique des dysfonctions, un scribing de synthèse des points-clés, une description d'ateliers, des exemples de durée et d'effort requis, une bibliographie et les incontournables trois conseils pour mieux réussir à ne pas décoller !</p>
                  <p><a href="http://bit.ly/rocket-guide-bookelis" title="Agile Rocket Guide Papier" target="_blank">Achetez le livre physique</a></p>
    <p><a href="http://bit.ly/agile-rocket-guide-1-3" title="Agile Rocket Guide PDF" target="_blank">Téléchargez au format numérique</a></p>
    </div>
    </div>
    </section>

  {{> slide-nav-buttons prevTitle = 'Formations' prevPath = '/formations/' nextTitle = 'Contacts' nextPath = '/contact/' }} {{> footer }}
</div>



{{/inline}} {{/layout}}
