{{#> layout }} {{#*inline "content"}}
<div class="slide" id="agile-rocket">
    {{> slide-header title=headline }}
    <div class="slide__content">
            <header class="header">
            <h1>Une démarche alternative vers une agilité respectueuse, spécifique, modulaire et progressive</h1>
            </header>
          </div>
    <section class="rocket">
           <div class="rocket__left">
                 <div class="row green">
          <h2>Les étages</h2>
          <p>Matérialisation d’une progression dans la maturité.<br/>
Trois étages orientés vers la production de valeur.</p>
<a class="btn btn--small button_specific" data-text="En savoir plus" href="/agile-rocket/cooperer" role="button"  data-toggle="modal">
                        <span>Coopérer</span>
              </a>
              <a class="btn btn--small button_specific" data-text="En savoir plus" href="/agile-rocket/ameliorer" role="button"  data-toggle="modal">
                        <span>Améliorer</span>
              </a>
              <a class="btn btn--small button_specific" data-text="En savoir plus" href="/agile-rocket/fluidifier" role="button"  data-toggle="modal">
                        <span>Fluidifier</span>
              </a>
        </div>
        <div class="row blue">
           <h2>Stabilisateurs</h2>
           <p>Assurent le pilotage et le guidage du vol.</p>
                         <a class="btn btn--small button_specific" data-text="En savoir plus" href="/agile-rocket/management" role="button"  data-toggle="modal">
                        <span>Management complexe</span>
              </a>
              <a class="btn btn--small button_specific" data-text="En savoir plus" href="/agile-rocket/maitrise" role="button"  data-toggle="modal">
                        <span>Maîtrise personnelle</span>
              </a>
        </div>
              
             </div>
      <div class="rocket__middle">
                      <img src="/images/agile-rocket/rocket.jpg" alt="Agile Rocket">

      </div>
      <div class="rocket__right">
              <div class="row yellow">
        
          <h2>La North Star</h2>
        <p>Comment embarquer l’équipage vers un objectif partagé - inspirant - suscitant le rêve ?</p>
<a class="btn btn--small button_specific" data-text="En savoir plus" href="/agile-rocket/north-star" role="button"  data-toggle="modal">
                        <span>La North Star</span>
              </a>
      </div>
        <div class="row pink">
           <h2>Boucliers thermiques</h2>
           <p>Faire la bonne chose correctement.</p>
                         <a class="btn btn--small button_specific" data-text="En savoir plus" href="/agile-rocket/north-star" role="button"  data-toggle="modal">
                        <span>Le bon produit</span>
              </a>
              <a class="btn btn--small button_specific" data-text="En savoir plus" href="/agile-rocket/north-star" role="button"  data-toggle="modal">
                        <span>Excellence (d'ingénierie)</span>
              </a>
        </div>
        <div class="row grey">
          <header>
            <h2>Réussir</h2>
          </header>
          <p>Radar et carburant pour soutenir la réussite</p>
          <a class="btn btn--small button_specific" data-text="En savoir plus" href="/agile-rocket/north-star" role="button"  data-toggle="modal">
                          <span>Culture Agile</span>
                </a>
                <a class="btn btn--small button_specific" data-text="En savoir plus" href="/agile-rocket/north-star" role="button"  data-toggle="modal">
                          <span>Vision Systémique</span>
                </a>
      </div>
    </div>
  </section>

   <section class="orange">
          <div class="row">
            <div class="orange__content">
               <p>La métaphore de l’Agile Rocket vise à guider progressivement le lecteur vers une meilleure compréhension de ce qu’est 
      une démarche vers plus d’agilité, des problèmes auxquels nous tentons d’apporter des améliorations (faute de prétendre à LA solution) 
      et des invitations à la transformation progressive que nous portons.</p>
            </div>
           <div class="rocketdesc__img">
  </div>
          </div>
        </section>

  {{> slide-nav-buttons
    prevTitle = 'Formations'
    prevPath = '/formations/'
    nextTitle = 'Contacts'
    nextPath = '/contact/'
  }}
      
  {{> footer }}
</div>



{{/inline}} {{/layout}}
