{{#> layout }}
  {{#*inline "content"}}
    <div class="slide" id="contact" itemscope itemtype="http://schema.org/Corporation">
      {{> slide-header title=headline }}
      <div class="slide__content">
        <div class="row">
          <section class="intro">
            <meta itemprop="name" content="Goood!" />
            <meta itemprop="url" content="https://www.goood.pro" />
            <time itemprop="foundingDate" datetime="2004-02-04">2004</time>
            
            <h1 itemprop="location" itemscope itemtype="http://schema.org/Place">
               <meta  itemprop="address" content="34 bd de Sébastopol, 75004 Paris">
              Un projet, une question,
              une envie furieuse de nous parler ?
            </h1>
            <p>
              Nous sommes présents dans la plupart des régions françaises et acceptons même des missions à l’international.
            </p>
            <p>
              <h2>Rencontrons-nous !</h2>
              Passez nous voir dans nos bureaux de Paris ou contactez
              une de nos agences du sud.
            </p>
          </section>
          <section class="coord" >
            <div class="coord__left">
            <div class="row">
            <div class="contact-goood"  itemprop="contactPoint" itemscope itemtype="http://schema.org/ContactPoint">
              <h2>À Paris :</h2>
              <p >
                34 bd de Sébastopol, 75004 Paris (quartier des Halles)
              </p>
              <p >
                Tél :  01 75 50 67 69
              </p>
              <p  >
                <a class="btn btn-primary" id="contact-sandrine" data-text="(mail à l'équipe Parisienne)" href="mailto:paris@goood.pro">
                    <span >Contactez <strong>Sandrine</strong></span>
                    <meta itemprop="contactType" content="sales contact point" />              
                    <meta itemprop="name" content="Sandrine pour équipe Parisienne" />                    
                    <meta itemprop="telephone" content="+33 1 75 50 67 69" />
                    <meta itemprop="email" content="paris@goood.pro" />
                </a>
              </p>
            </div>
            </div>
            <div class="row">
            <div class="contact-goood" >
            
              <h2>À Lyon :</h2>
              <p>
                Mobile :  06 83 21 20 45
              </p>
              <p itemprop="contactPoint" itemscope itemtype="http://schema.org/ContactPoint">
                <a class="btn btn-primary" id="contact-gregory" data-text="(mail à Grégory)" href="mailto:lyon@goood.pro">
                    <span>Contactez <strong>Grégory</strong></span>
                    <meta itemprop="contactType" content="sales contact point" />              
                    <meta itemprop="name" content="Grégory à Lyon" />  
                    <meta itemprop="telephone" content="+33 6 83 21 20 45" />
                    <meta itemprop="email" content="lyon@goood.pro" />
                </a>
              </p>
              </div>
            </div>
            <div class="row">
              <div class="contact-goood" >
              
              <h2>À Nice/Sophia-Antipolis, ou à Marseille :</h2>
              <p>
                <a href="/espace-sud" class="espace-sud-link"><i class="fa fa-external-link" style="margin-right:10px;" aria-hidden="true"></i>Agora, Place Sophie Laffitte 06560 Valbonne</a>
              </p>
              <p>
                Mobile :  06 25 10 67 53
              </p>
              <p itemprop="contactPoint" itemscope itemtype="http://schema.org/ContactPoint">
                <a class="btn btn-primary" id="contact-romain" data-text="(mail à l'équipe sud)" href="mailto:sud@goood.pro">
                    <span>Contactez <strong>Romain</strong></span>
                    <meta itemprop="contactType" content="sales contact point" />              
                    <meta itemprop="name" content="Romain Nice ou Marseille" />  
                    <meta itemprop="telephone" content="+33 6 25 10 67 53" />
                    <meta itemprop="email" content="sud@goood.pro" />
                </a>
              </p>
              </div>
            </div>
            </div>
            <div class="coord__right">
              <img src="/images/carte.jpg" alt="carte des agences Goood!">
            </div>
        </section>
      </div>
      <section class="coord2">
        <h1>Besoin d’un renseignement spécifique ?</h1>
        <div class="row">
          <div class="coord2__about">
            <h2>A propos de business</h2>
            <p>
              Contactez <strong>Céline</strong> Stauder
              <br>
              <a href="#">business@goood.pro</a><br>
              Mobile :  06 31 99 70 59
            </p>
          </div>
          <div class="coord2__about">
            <h2>A propos de recrutement</h2>
            <p>
              Contactez <strong>Delphine</strong> Kan
              <br>
              <a href="#">jobs@goood.pro</a><br>
              Mobile :  06 69 18 13 00
            </p>
          </div>
          <div class="coord2__about">
            <h2>A propos de Formation</h2>
            <p>
              Contactez <strong>Célia</strong> Kevorkian
              <br>
              <a href="#">formation@goood.pro</a><br>
              Mobile :  06 59 25 24 68
            </p>
          </div>
          <div class="coord2__about">
            <h2>A propos de Finance</h2>
            <p>
              Contactez <strong>Jérome</strong> Veneziani
              <br>
              <a href="#">finances@goood.pro</a><br>
              Tél :  01 84 17 52 51
            </p>
          </div>
        </div>
      </section>

        {{> slide-nav-buttons
          prevTitle = 'Tooolkit'
          prevPath = '/toolkit/'
          nextTitle = 'Vision'
          nextPath = '/'
        }}
        {{> footer }}
      </div>
    </div>
  {{/inline}}
{{/layout}}
