{{#> layout }}
  {{#*inline "content"}}
    <div class="slide" id="contact">
      {{> slide-header title=headline }}
      <div class="slide__content">
        <div class="row">
          <section class="intro">
            <h1>
              Un projet, une question,
              une envie furieuse de nous parler ?
            </h1>
            <p>
              Nous sommes présents dans la plupart des régions françaises et acceptons même des missions à l’international.
            </p>
            <p>
              <em><strong>Rencontrons-nous !</strong></em><br>
              Passez nous voir dans nos bureaux de Paris ou contactez
              une de nos agences du sud :
            </p>
          </section>
          <section class="coord">
            <div class="coord__left">
              <h2>A Paris :</h2>
              <p>
                34 bd de Sébastopol, 75004 Paris (quartier des Halles)<br>
                <a href="#">Accès voiture et transports en commun. </a><br><br>

                Contactez <strong>Sandrine</strong> Renouvel<br>
                <a href="#">paris@goood.pro</a><br>
                Tél :  01 75 50 67 69
              </p>


              <h2>À Lyon :</h2>
              <p>
                Contactez <strong>Grégory</strong> Alexandre <br>
                <a href="#">lyon@goood.pro</a><br>
                Mobile :  06 83 21 20 45
              </p>


              <h2>À Nice/Sophia-Antipolis, ou à Marseilles :</h2>
              <p>
                <a href="/espace-sud">Agora, Place Sophie Laffitte 06560 Valbonne</a><br>
                <br>
                
                Contactez <strong>Romain</strong> Vignes <br>
                <a href="#">sud@goood.pro</a><br>
                Mobile :  06 25 10 67 53
              </p>
            </div>
            <div class="coord__right">
              <img src="/images/carte.jpg" alt="carte des agences Goood!">
            </div>
        </section>
      </div>
      <section class="coord2">
        <h1>Besoin d’un renseignement spécifique ?</h1>
        <div class="row">
          <div class="coord2__about">
            <h2>A propos de business</h2>
            <p>
              Contactez <strong>Céline</strong> Stauder
              <br>
              <a href="#">business@goood.pro</a><br>
              Mobile :  06 31 99 70 59
            </p>
          </div>
          <div class="coord2__about">
            <h2>A propos de recrutement</h2>
            <p>
              Contactez <strong>Delphine</strong> Kan
              <br>
              <a href="#">jobs@goood.pro</a><br>
              Mobile :  06 69 18 13 00
            </p>
          </div>
          <div class="coord2__about">
            <h2>A propos de Formation</h2>
            <p>
              Contactez <strong>Célia</strong> Kevorkian
              <br>
              <a href="#">formation@goood.pro</a><br>
              Mobile :  06 59 25 24 68
            </p>
          </div>
          <div class="coord2__about">
            <h2>A propos de Finance</h2>
            <p>
              Contactez <strong>Jérome</strong> Veneziani
              <br>
              <a href="#">finances@goood.pro</a><br>
              Tél :  01 84 17 52 51
            </p>
          </div>
        </div>
      </section>

        {{> slide-nav-buttons
          prevTitle = 'Evts et Formations'
          prevPath = '/evenements-formations/'
          nextTitle = 'Vision'
          nextPath = '/'
        }}
        {{> footer }}
      </div>
    </div>
  {{/inline}}
{{/layout}}
