{{#> layout }}
  {{#*inline "content"}}
    <div class="slide" id="events">
      {{> slide-header title=title }}
      <div class="slide__content">
        <div class="row">
          <section class="intro">
            <h1>
              Titre ou accroche de la page
            </h1>
            <p>
              Texte 
            </p>
            <p>
              <em><strong>Call to action</strong></em><br>
              Passez nous voir dans nos bureaux de Paris ou contactez
              une de nos agences du sud :
            </p>
          </section>
          <section class="coord">
            {{{ contents }}}
        </section>
      </div>
      <section class="coord2">
        <h1>Deuxième partie</h1>
        <div class="row">
          
        </div>
      </section>

        {{> slide-nav-buttons
          prevTitle = 'Équipe et Culture'
          prevPath = '/equipe-et-culture/'
          nextTitle = 'Contacts'
          nextPath = '/contact/'
        }}
        {{> footer }}
      </div>
    </div>
  {{/inline}}
{{/layout}}
