{{#> layout }}
{{#*inline "content"}}
<div class="slide" id="events">
    {{> slide-header title=headline }}
    <div class="slide__content">
        <div class="row">
            <section class="intro">
                <p>
                    Chez Goood! on aime bien partager. Alors on s’investit dans des communautés proches de nos préoccupations : la diversité, le développement durable, le code, le software craftsmanship, l’agilité, la facilitation, les nouvelles formes d’organisations …
                    Vous trouverez ci-dessous les <a href="#prochaines-dates">prochaines dates</a> des événements que nous organisons, soutenons ou hébergeons. On s’y retrouve ?
                </p>
                <p>Une autre forme de partage, c’est la formation. Beaucoup de sessions sont organisées pour un client et privées mais il y a aussi quelques dates ouvertes à tous.</p>
                <h1>Prochaines Formations inter-entreprises ouvertes</h1>
                <p><em>Astuce : Pour découvrir l’étendue de notre offre de formation le mieux c’est de <a href="http://www.goood.pro/files/catalogue-formations-goood.pdf">télécharger notre catalogue</a> et de <a href="mailto:formation@goood.pro">contacter Célia</a>.</em></p>
                {{#each formations}}
                <div class="evenement">
                    <h3><a href="/{{this.path}}">{{this.title}}</a></h3>
                    <span>
                        {{this.description}}
                    </span>
                    <ul>
                        {{#each this.dates}}
                        <li>
                            {{this}}
                        </li>
                        {{/each}}
                    </ul>
                    {{this.test}}
                </div>
                {{/each}}
                <div class="evenement">
                    <a name="prochaines-dates"><h1>Nous aimons, nous soutenons (événements publics)</h1></a>
                    <section id="cd-timeline" class="cd-container">
                        {{#each evenements}}
                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img cd-movie">
                                <i class="fa {{this.icon}} fa-2x" aria-hidden="true"></i>
                            </div>

                            <div class="cd-timeline-content">
                                <a href="{{this.lien}}"><h2>{{this.titre}}</h2></a>
                                <p>
                                    {{this.description}}
                                </p>
                                <p>
                                <span class="badge badge-info ville">{{this.ville}}</span>
                                {{#each this.roles}}
                                    <span class="badge badge-primary">{{this}}</span>
                                {{/each}}
                                <span class="badge badge-success type-evenement">{{this.type}}</span>
                                </p>
                                <span class="cd-date">{{this.date}}</span>
                            </div> 
                        </div> 
                        {{/each}}
                    </section>
                </div>
                {{{ contents }}}
            </section>
        </div>
    </div>
    {{> slide-nav-buttons
          prevTitle = 'Recrutement'
          prevPath = '/recrutement/'
          nextTitle = 'Contacts'
          nextPath = '/contact/'
    }}
    {{> footer }}
</div>
</div>
{{/inline}}
{{/layout}}
