<!doctype html>
<html lang="fr-FR" manifest="http://goood.pro/site.appcache">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title>{{ title }}</title>
  <meta property="og:title" content="Goood!" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://goood.pro" />
  <meta property="og:image" content="http://goood.pro/images/header-events-th2.jpg" />
  <meta property="og:description" content="Chez Goood! on aime partager, une forme de partage, c’est la formation. Beaucoup de sessions sont organisées pour un client et privées mais il y a aussi quelques dates ouvertes à tous. Retrouvez notre catalogue en ligne." />
  <meta property="og:locale" content="fr_FR" />
  <meta property="og:site_name" content="Goood!" />
  <meta property="og:video" content="https://youtu.be/BI7K9lWhMgc" />
  <link rel="stylesheet" href="/css/app.css">
  <link rel="icon" href="/images/favicon.ico" />
  <script type="application/ld+json">
{
  "@graph":   [
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "Goood!",
      "url": "http://www.goood.pro"
    },
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "https://goood.pro/formations",
          "name": "Agenda",
          "image": "http://goood.pro/images/header-events-th2.jpg"
        }
      },{
        "@type": "ListItem",
        "position": 2,
        "item": {
          "@id": "https://goood.pro/formations/techniques-et-methodes-de-facilitation-de-groupe/",
          "name": "TOP",
          "image": "http://goood.pro/images/workshop.jpg"
        }
      },{
        "@type": "ListItem",
        "position": 3,
        "item": {
          "@id": "http://www.goood.pro/formations/manager-agile/",
          "name": "Management 3.0",
          "image": "http://goood.pro/images/workshop.jpg"
        }
      },{
        "@type": "ListItem",
        "position": 4,
        "item": {
          "@id": "http://www.goood.pro/formations/introduction-agile/",
          "name": "Introduction Agilité",
          "image": "http://goood.pro/images/workshop.jpg"
        }
      }]
    }
  ]
}
</script>
<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', 'UA-70741563-1', 'auto');
ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
</head>

{{#> body-layout }}
{{#*inline "content"}}
<div class="slide" id="events">
    {{> slide-header title=headline }}
    <div class="slide__content">
        <div class="row">
            <section class="intro">
                <p>Une autre forme de partage, c’est la formation. Beaucoup de sessions sont organisées pour un client et privées mais il y a aussi quelques dates ouvertes à tous.</p>
                <h1>Prochaines Formations inter-entreprises ouvertes</h1>
                <p><em>Astuce : Pour découvrir l’étendue de notre offre de formation le mieux c’est de <a href="http://www.goood.pro/files/catalogue-formations-goood.pdf" id="telechargement-catalogue-formation">télécharger notre catalogue</a> et de <a href="mailto:formation@goood.pro" id="contact-celia-page-formations">contacter Célia</a>.</em></p>
                {{#each formations}}
                <div class="evenement">
                    <h3><a href="/{{this.path}}" class="formation-link" data-title="{{this.title}}"><i class="fa fa-external-link" style="margin-right:10px;" aria-hidden="true"></i>{{this.title}}</a></h3>
                    <span>
                        {{this.description}}
                    </span>
                    <ul>
                        {{#each this.dates}}
                        <li>
                            {{this}}
                        </li>
                        {{/each}}
                    </ul>
                    {{this.test}}
                </div>
                {{/each}}
            </section>
        </div>
    </div>
    {{> slide-nav-buttons
          prevTitle = 'Agenda'
          prevPath = '/agenda/'
          nextTitle = 'Tooolkit'
          nextPath = '/toolkit/'
    }}
    {{> footer }}
</div>
</div>
{{/inline}}
{{/body-layout}}
