{{#> layout }}
  {{#*inline "content"}}
    <div class="slide" id="{{theme}}">
      {{> slide-header title=headline }}
      <div class="slide__content">
        
        <section class="synthese">
          <div class="row">
            <div class="objectif">
            
            {{{ contents }}}
           

            </div>
            <div class="blocright">
            <div class="infos">
              {{#if heures}}
                <div class="info">
                 <div class="bloc_icon"><i class="fa fa-clock-o fa-2x" aria-hidden="true"></i></div>
                 <div class="bloc_label"><p class=""><b> {{this.heures}} heures</b> </p></div>
                </div>
               {{/if}}  
                {{#if participants}}
                <div class="info">
                 <div class="bloc_icon"><i class="fa fa-users fa-2x" aria-hidden="true"></i></div>
                 <div class="bloc_label"><p class=""> <b> {{this.participants}} participants</b> </p></div>
                </div>
                {{/if}}   
                {{#if InterExiste}}
                <div class="info">
                
                 <div class="bloc_icon"><i class="fa fa-euro fa-2x" aria-hidden="true"></i></div>
                 <div class="bloc_label"><p class=""> 
                 {{#if prixInter}}
                 <b>{{this.prixInter}}  HT</b> /personne <span class="bleu">en inter-entreprises</span>
                 
                 {{else}}
                  Nous contacter pour un devis inter-entreprise
                 {{/if}}
                   </p></div>
                </div>
                {{/if}}

                
                <div class="info">
                 <div class="bloc_icon"><i class="fa fa-euro fa-2x" aria-hidden="true"></i></div>
                 <div class="bloc_label"><p class="">
                   {{#if prixIntra}}
                   <b>{{this.prixIntra}} HT</b> / groupe <span class="bleu">uniquement pour votre entreprise!</span>
                    {{else}}
                   Nous contacter pour un devis intra-entreprise
                       {{/if}} 
                       </p></div>
                </div>
              {{#if programmePdf}}
              <div class="info">
                 <div class="bloc_icon"><i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"></i></div>
                 <div class="bloc_label"><p class="">
                   <a href="/files/{{this.programmePdf}}">Téléchargez la plaquette</a>
                   </p> 
                 </div>
                </div>
                {{/if}}
                        

                 <a href="#incriptionform" class="btn btn-white">Contactez-nous</a>  
                         
                
            </div>
              
            <div class="lesplus">
             {{#if lesPlus}}
             <p>
               <div class="plus">
              <i class="fa fa-plus-circle " aria-hidden="true"></i>Les plus
              </div>
              <ul>
                  {{#each this.lesPlus}}
                  <li>
                      {{this}}
                  </li>
                  {{/each}}
              </ul>
             </p>
         
            {{/if}}
              <span style="display:none" id="pourcentagePratique">{{this.pourcentagePratique}}</span>
            <div id="conteneur-repartition-methodologie">
              <canvas id="repartition-methodologie"></canvas>
            </div>
            </div>          
            
            </div>
          </div>
          <div class="row w95">
            <h2><i class="fa fa-calendar-o" aria-hidden="true"></i>Les prochaines dates</h2>
            <div  class="row w95">
              <ul >

                {{#each this.dates}}
                <li> {{this}}</span></li>
                {{/each}}
              </ul>
              </div>
          </div>
           <div  class="row incriptionform" id="incriptionform">
                  <p >Si vous êtes intéressé par cette formation, remplissez ce formulaire et nous vous recontactons très vite.
                    Ou si vous préférez contactez directement Célia par téléphone au 06 59 25 24 68. 
                  </p>
                  <form action="https://formspree.io/formation@goood.pro" method="POST" >
                      <input name="formation_intitule" hidden value="{{title}}"/>
                      Nom* <input type="text" placeholder="Nom" name="nom" required size="50"/>  Prénom <input type="text" placeholder="Prénom" name="prenom"  size="50"/>
                      Email* <input type="text" name="email" placeholder="dupont@domaine.fr"  required size="50"/>
                      Téléphone* <input type="text" name="tel" placeholder="06 xx xx xx xx"  required size="14"/>                                         
                      Date souhaitée<select name="formation" >
                        <option>Date à convenir</option>                        
                          {{#each dates}}
                              <option>{{this}} </option>                        
                          {{/each}}                          
                          
                      </select>
                     Message
                     <textarea name="comment" cols="80" rows="5"></textarea>
                      <input type="submit" class="btn btn-primary" Value="Envoyer!"/>
                  </form>

              </div> 
        </section>
       
<div class="row">
  &nbsp;
</div>


        {{> slide-nav-sous-pages
          parent = 'Formations'
          parentPath = '/formations/'
        }}
        {{> footer }}
      </div>
    </div>
  {{/inline}}
{{/layout}}
