{{#> layout }}
  {{#*inline "content"}}
    <div class="slide" id="{{slug}}">
      {{> slide-header title=headline }}
      <div class="slide__content">
        <div class="row">
          <section class="intro">
            {{{ contents }}}
          </section>
        </div>
        {{> slide-nav-buttons
          prevTitle = prevTitle
          prevPath = prevPath
          nextTitle = nextTitle
          nextPath = nextPath
        }}
        {{> footer }}
      </div>
    </div>
  {{/inline}}
{{/layout}}
