{{#> layout }}
  {{#*inline "content"}}
    <section class="slide" id="home">
        {{> slide-header isHome=true }}
        <div class="slide__content">
          <section class="mission">
            <div class="row">
              <div class="mission__content">
                <header>
                  <p>
                    Notre mission
                  </p>
                  <h1>
                    Lutter contre le gâchis dans les entreprises
                  </h1>
                </header>
                <p>
                 les énergies dispersées, les processus inefficaces, les logiciels bugués ou figés, qui empêchent au lieu de faciliter, la réunionite, les objectifs pas clairs, les décisions interminables, les talents qui ne s’expriment pas … Ce n’est pas une fatalité.
                </p>
                <p>
                  <em>Ensemble, </em><strong>nous pouvons lutter</strong>
                </p>
              </div>
              <a rel="external" target="_blank" href="https://youtu.be/BI7K9lWhMgc" class="mission__video">

              </a>
            </div>
          </section>
          <section class="vision">
            <header class="vision__header">
              <p>
                Notre vision
              </p>
              <h1>
                Développons notre agilité
              </h1>
            </header>
            <div class="row">
              <a id="vision-section"></a>
              <div class="vision__leftSquare">
                <p>
                  Pour relever des défis stratégiques, dans un environnement complexe et incertain l’entreprise doit devenir :
                </p>
                <div class="vision__leftSquare__labels">
                  <span class="vision__leftSquare__label inspirant active">Inspirante</span>
                  <span class="vision__leftSquare__label innovant">Innovante</span>
                  <span class="vision__leftSquare__label performant">Performante</span>
                </div>
                <div class="vision__leftSquare__bottomContent">
                  <p>
                    Chez Goood! on appelle ça devenir une entreprise Agile.
                  </p>
                  <a href="/recette-magique/" class="arrow-link">
                    Notre démarche
                    {{svg "./fleche-droite-ico.svg"}}
                  </a>
                </div>
              </div>
              <div class="vision__rightSquare">
                <div class="vision__bloc inspirant">
                  <div class="vision__bloc__icon">
                    {{svg "./inspirant.svg"}}
                  </div>
                  <h3 class="vision__bloc__title">Devenons <strong>Inspirants</strong></h3>
                  <p class="vision__bloc__content">
                    En développant l'autonomie responsable pour mobiliser toute <strong>l'Organisation</strong>
                  </p>
                </div>
                <div class="vision__bloc innovant">
                  <div class="vision__bloc__icon">
                    {{svg "./innovant.svg"}}
                  </div>
                  <h3 class="vision__bloc__title">Devenons <strong>Innovants</strong></h3>
                  <p class="vision__bloc__content">
                    et embarquons notre éco-système pour co-créer une rupture dans <strong>l'Offre</strong>
                  </p>
                </div>
                <div class="vision__bloc performant">
                  <div class="vision__bloc__icon">
                    {{svg "./performant.svg"}}
                  </div>
                  <h3 class="vision__bloc__title">Devenons <strong>Performants</strong></h3>
                  <p class="vision__bloc__content">
                    et revisitons nos méthodes et nos outils digitaux pour accélérer <strong>les Opérations</strong>
                  </p>
                </div>
                <a href="/references/" class="arrow-link">
                  Voir les cas clients
                  {{svg "./fleche-droite-ico.svg"}}
                </a>
              </div>
            </div>
          </section>
          <div class="vision__bottomContent">
            <p>
              Chez Goood! on appelle ça devenir une entreprise Agile.
            </p>
            <a href="#" class="arrow-link">
              Notre démarche
              {{svg "./fleche-droite-ico.svg"}}
            </a>
          </div>
          <section class="download">
            <p>Pour en savoir plus, <br> téléchargez la présentation et les références de <strong>Goood!</strong></p>
            <a href="http://goood.pro/files/plaquette-goood.pdf" target="_blank" class="btn btn--secondary" data-text="Téléchargez la plaquette">
              <span>
                Téléchargez la plaquette
              </span>
            </a>
          </section>
          <section class="progres">
            <div class="progres__bulle">
              <div class="small-only">
                {{svg "./citation-femme-mobile.svg"}}
              </div>
              <div class="medium-up">
                {{svg "./citation-femme-desktop.svg"}}
              </div>
            </div>
            <div class="progres__content">
              <p>
                Goood! est en perpétuelle transformation à la recherche de son graal : une entreprise sans gâchis, dans laquelle l’épanouissement de chacun et le développement du collectif se nourrissent mutuellement et où c’est cette harmonie qui est source de valeur.
              </p>
              <p>
                <strong>
                  Ce que nous proposons à nos clients est le reflet de ce que nous expérimentons en interne.
                </strong>
              </p>
              <p>
                <em>
                  Et cela nous réussit !
                </em>
              </p>
            </div>
          </section>
          <section class="chiffres">
            <div class="chiffre">
              <div class="chiffre__nombre">12</div>
              <p class="chiffre__content">années d'amour avec notre 1er client</p>
            </div>
            <div class="chiffre">
              <div class="chiffre__nombre">40</div>
              <p class="chiffre__content">salariés tous différents</p>
            </div>
            <div class="chiffre">
              <div class="chiffre__nombre">300</div>
              <p class="chiffre__content">% de muscles en plus de 4 ans</p>
            </div>
            <div class="chiffre">
              <div class="chiffre__nombre">6000</div>
              <p class="chiffre__content">heures par an de sport cérébral</p>
            </div>
          </section>
          {{> slide-nav-buttons
            prevTitle = 'Contacts'
            prevPath = '/contact/'
            nextTitle = 'Notre démarche'
            nextPath = '/recette-magique/'
          }}
          {{> footer }}
        </div>
    </section>
  {{/inline}}
{{/layout}}
