{{#> layout }}
  {{#*inline "content"}}
    <div class="slide" id="home">
      <div class="slide__header">
        <div class="landing">
          <div class="landing__citation">
            {{svg "../images/citation-damien.svg"}}
          </div>
          <div class="landing__buttons">
            <button class="btn btn--primary">
              Vision
            </button>
            <button class="btn">
              Références
            </button>
          </div>
        </div>
      </div>
      <div class="slide__content">
        {{{ contents }}}
      </div>
    </div>
  {{/inline}}
{{/layout}}
