{{#> layout }}
  {{#*inline "content"}}
    <div class="slide" id="{{id}}">
      {{> slide-header title=headline }}
      <div class="slide__content">
        <section class="{{id}}">
          <div class="row">
            <div class="{{id}}__content">
             
              <p>
                {{{contents}}}
              </p>
            </div>
            <div class="{{id}}__img">

            </div>
          </div>
        </section>
        {{> slide-nav-buttons
          prevTitle = prevTitle
          prevPath = prevPath
          nextTitle = nextTitle
          nextPath = nextPath
        }}
        {{> footer }}
      </div>
    </div>
  {{/inline}}
{{/layout}}
