{{#> layout }}
  {{#*inline "content"}}
    <div class="slide" id="recette-magique">
      {{> slide-header title=headline }}
      <div class="slide__content">
        <section class="magie">
          <div class="row">
            <div class="magie__content">
              <header>
                <p>
                  Magie
                </p>
                <h1>
                  La recette du succès
                </h1>
              </header>
              <p>
                Et non ! Malheureusement nous n’avons pas de baguette magique et pas non plus de recette toute prête ;-)
                Ce que nous proposons c’est une démarche sur mesure et une philosophie : l’agilité.
                Pour relever des défis stratégiques dans des environnements complexes, incertains et changeants être agile c’est d’abord faire.
              </p>
            </div>
            <div class="magie__img">

            </div>
          </div>
        </section>
        <section class="be-agile">
          <div class="be-agile__gear">
            {{svg "./gear.svg"}}
            <div class="be-agile__punchline">
              <span>Etre</span>
              <span>agile</span>
              <span>c'est d'abord</span>
              <span>faire</span>
            </div>
            <div class="be-agile__sentence be-agile__sentence--left">
              <span>
                <strong>Faire juste nécessaire</strong>
                <br>et suffisant
              </span>
              <span>
                Frugalité, pilotage par le sens et la valeur
              </span>
            </div>
            <div class="be-agile__sentence be-agile__sentence--bottom">
              <span>
                <strong>Faire ensemble</strong>
              </span>
              <span>
                Co-construction et intelligence collective
              </span>
            </div>
            <div class="be-agile__sentence be-agile__sentence--right">
              <span>
                <strong>Faire pour apprendre</strong>
                <br>et comprendre
              </span>
              <span>
                Par expérimentation, mesure et itération
              </span>
            </div>
          </div>
        </section>
        <section class="orange">
          <div class="row">
            <div class="orange__content">
              <p>
                Mais la vraie difficulté c’est de ne pas tomber de l’action dans la réaction. De conserver une vision partagée forte afin d’articuler le temps court de l’action locale avec le temps long de la stratégie. C’est là qu’il faut <strong>un peu de méthode</strong>, et de bouteille. C’est là qu’on intervient :-)
              </p>
            </div>
            <div class="orange__img">
            </div>
          </div>
        </section>
        <section class="demarche">
          <header>
            <p>
              Démarches
            </p>
            <h1>
              5 étapes clés pour, ensemble, relever vos défis stratégiques
            </h1>
          </header>
          <div class="demarche__carousel">
            <div class="demarche__item">
              <div class="demarche__item__prev">
                {{svg "./fleche-gauche-ico.svg"}}
              </div>
              <div class="demarche__item__next">
                {{svg "./fleche-droite-ico.svg"}}
              </div>
              <div class="demarche__item__img">
                {{svg "./dialogue.svg"}}
              </div>
              <h3>Se dire les choses</h3>
              <p>
                Aller au-delà de votre brief. Explorer le contexte et le besoin, challenger les solutions envisagées et les fausses évidences, et se mettre au clair sur nos attentes et nos engagements respectifs.
              </p>
            </div>
            <div class="demarche__item">
              <div class="demarche__item__prev">
                {{svg "./fleche-gauche-ico.svg"}}
              </div>
              <div class="demarche__item__next">
                {{svg "./fleche-droite-ico.svg"}}
              </div>
              <div class="demarche__item__img">
                {{svg "./equipe.svg"}}
              </div>
              <h3>Faire équipe</h3>
              <p>
                Choisir les bonnes personnes – chez nous et chez vous – pour mener ce projet à bien. Construire la confiance et poser les règles de travail dans l’équipe. Installer l’environnement nécessaire et propice au projet.
              </p>
            </div>
            <div class="demarche__item">
              <div class="demarche__item__prev">
                {{svg "./fleche-gauche-ico.svg"}}
              </div>
              <div class="demarche__item__next">
                {{svg "./fleche-droite-ico.svg"}}
              </div>
              <div class="demarche__item__img">
                {{svg "./comprendre.svg"}}
              </div>
              <h3>Comprendre et imaginer</h3>
              <p>
                Impliquer les acteurs du terrain et construire ensemble un diagnostic partagé. Se projeter dans le futur et définir le succès. Imaginer des stratégies ou des solutions et cadrer le projet.
              </p>
            </div>
            <div class="demarche__item">
              <div class="demarche__item__prev">
                {{svg "./fleche-gauche-ico.svg"}}
              </div>
              <div class="demarche__item__next">
                {{svg "./fleche-droite-ico.svg"}}
              </div>
              <div class="demarche__item__img">
                {{svg "./construire.svg"}}
              </div>
              <h3>Construire, apprendre, itérer</h3>
              <p>
                Agir rapidement pour vérifier tôt les hypothèses critiques et détecter les erreurs. C’est en se confrontant répétitivement à la réalité du terrain et en adaptant nos plans que l’on surmonte les obstacles.
              </p>
            </div>
            <div class="demarche__item">
              <div class="demarche__item__prev">
                {{svg "./fleche-gauche-ico.svg"}}
              </div>
              <div class="demarche__item__next">
                {{svg "./fleche-droite-ico.svg"}}
              </div>
              <div class="demarche__item__img">
                {{svg "./envol.svg"}}
              </div>
              <h3>Prendre son envol</h3>
              <p>
                Assurer la pérennité de ce qui a été construit ensemble par le transfert de compétences et le suivi.
              </p>
            </div>
          </div>
          <div class="demarche__smile">
            {{svg "./sourire-dots.svg"}}
          </div>
          <div class="demarche__labels">
            <div class="demarche__label">
              1 - <br>
              Se dire <br>
              les choses
            </div>
            <div class="demarche__label">
              2 - <br>
              Faire <br>
              équipe
            </div>
            <div class="demarche__label">
              3 - <br>
              Comprendre <br>
              et imaginer
            </div>
            <div class="demarche__label">
              4 - <br>
              Construire<br>
              apprendre, itérer
            </div>
            <div class="demarche__label">
              5 - <br>
              Prendre <br>
              son envol
            </div>
          </div>
        </section>
        <section class="benefices">
          <header>
            <p>
              Bénéfices
            </p>
            <h1>
              L’agilité crée de la valeur pour toutes les parties prenantes
            </h1>
          </header>
          <div class="benefices__content">
            <p>
              L’agilité ce n’est pas une fin en soi. C’est un (puissant) levier au service du développement durable – au sens littéral - de l’écosystème-entreprise : lorsque vous développez votre agilité, à la fin tout le monde gagne :)
            </p>
          </div>
          <div class="benefices__big-circle">

            <!-- Titles -->
            <div class="benefices__title">
              Société
              <span>
                Croissance pérenne, emploi durable
              </span>
            </div>
            <div class="benefices__title">
              Fournisseur
              <span>
                Ouverture et co-contruction, Fair play
              </span>
            </div>
            <div class="benefices__title">
              Nature
              <span>
                Nature
                Logique “juste
                nécessaire et suffisant”,
                Emprunte réduite
              </span>
            </div>
            <div class="benefices__title">
              Salarié
              <span>
                Autonomie responsable,
                sens, bien-être
              </span>
            </div>
            <div class="benefices__title">
              Client
              <span>
                Excellent service, innovation
              </span>
            </div>
            <div class="benefices__title">
              Actionnaire
              <span>
                Rentabilité
              </span>
            </div>


            <!-- Circles -->
            <span class="benefices__circle">
              {{svg "./plus-ico.svg"}}
            </span>
            <span class="benefices__circle">
              {{svg "./plus-ico.svg"}}
            </span>
            <span class="benefices__circle">
              {{svg "./plus-ico.svg"}}
            </span>
            <span class="benefices__circle">
              {{svg "./plus-ico.svg"}}
            </span>
            <span class="benefices__circle">
              {{svg "./plus-ico.svg"}}
            </span>
            <span class="benefices__circle">
              {{svg "./plus-ico.svg"}}
            </span>


            <!-- Description -->
            <span class="benefices__descr">
              L’agilié développe le capital immatériel de l’entreprise,
              ce qui crée de la valeur globale
            </span>
            <span class="benefices__descr">
              L’agilié développe le capital immatériel de l’entreprise,
              ce qui crée de la valeur globale
            </span>
            <span class="benefices__descr">
              L’agilié développe le capital immatériel de l’entreprise,
              ce qui crée de la valeur globale
            </span>
            <span class="benefices__descr">
              L’agilié développe le capital immatériel de l’entreprise,
              ce qui crée de la valeur globale
            </span>
            <span class="benefices__descr">
              L’agilié développe le capital immatériel de l’entreprise,
              ce qui crée de la valeur globale
            </span>
            <span class="benefices__descr">
              L’agilié développe le capital immatériel de l’entreprise,
              ce qui crée de la valeur globale
            </span>
          </div>
        </section>
        {{> slide-nav-buttons
          prevTitle = 'Vision'
          prevPath = '/'
          nextTitle = 'Références'
          nextPath = '/references/'
        }}
        {{> footer }}
      </div>
    </div>
  {{/inline}}
{{/layout}}
