{{#> layout }}
  {{#*inline "content"}}
    <div class="slide" id="recette-magique">
      {{> slide-header title=title }}
      <div class="slide__content">
        <section class="magie">
          <div class="row">
            <div class="magie__content">
              <header>
                <p>
                  Magie
                </p>
                <h1>
                  La recette du succès
                </h1>
              </header>
              <p>
                Et non ! Malheureusement nous n’avons pas de baguette magique, et pas non plus de recette toute prête ;-)
Ce que nous proposons c’est une démarche sur mesure et une philosophie : l’agilité
Pour relever des défis stratégiques dans des environnements complexes, incertains et changeants être agile c’est d’abord faire.
              </p>
            </div>
            <div class="magie__img">

            </div>
          </div>
        </section>
        <section class="be-agile">
          <div class="be-agile__gear">
            {{svg "./gear.svg"}}
          </div>
        </section>
      </div>
    </div>
  {{/inline}}
{{/layout}}
