{{#> layout }}
  {{#*inline "content"}}
    <div class="slide" id="recette-magique">
      {{> slide-header title=title }}
      <div class="slide__content">
        <section class="magie">
          <div class="row">
            <div class="magie__content">
              <header>
                <p>
                  Magie
                </p>
                <h1>
                  La recette du succès
                </h1>
              </header>
              <p>
                Et non ! Malheureusement nous n’avons pas de baguette magique, et pas non plus de recette toute prête ;-)
Ce que nous proposons c’est une démarche sur mesure et une philosophie : l’agilité
Pour relever des défis stratégiques dans des environnements complexes, incertains et changeants être agile c’est d’abord faire.
              </p>
            </div>
            <div class="magie__img">

            </div>
          </div>
        </section>
        <section class="be-agile">
          <div class="be-agile__gear">
            {{svg "./gear.svg"}}
            <div class="be-agile__punchline">
              <span>Etre</span>
              <span>agile</span>
              <span>c'est d'abord</span>
              <span>faire</span>
            </div>
            <div class="be-agile__sentence be-agile__sentence--left">
              <span>
                <strong>Juste nécessaire</strong>
                <br>et suffisant
              </span>
              <span>
                Frugalité, pilotage par le sens et la valeur
              </span>
            </div>
            <div class="be-agile__sentence be-agile__sentence--bottom">
              <span>
                <strong>Ensemble</strong>
              </span>
              <span>
                Co-construction et intelligence collective
              </span>
            </div>
            <div class="be-agile__sentence be-agile__sentence--right">
              <span>
                <strong>Pour apprendre</strong>
                <br>et comprendre
              </span>
              <span>
                Par expérimentation, mesure et itération
              </span>
            </div>
          </div>
        </section>
        <section class="orange">
          <div class="row">
            <div class="orange__content">
              <p>
Mais la vraie difficulté c’est de ne pas tomber de l’action dans la réaction et de conserver une vision partagée forte afin articuler le temps court de l’action locale avec le temps long de la stratégie. C’est là qu’il faut un peu de méthode, et de bouteille. C’est là qu’on intervient :-)              </p>
            </div>
            <div class="orange__img">
            </div>
          </div>
        </section>
      </div>
    </div>
  {{/inline}}
{{/layout}}
