{{#> layout }} {{#*inline "content"}}
<div class="slide" id="career">
	{{> slide-header title=headline }}
	<div class="slide__content">
		<section class="profil">
			<div class="row">
				<div class="profil__content">
					<header>
						<h1>
							Cherche mouton bleu à 7 pattes
						</h1>
						<p>
							Bonne présentation, moins de 26 ans, 15 ans d'expérience, parlant Tamoul, Portugais et Russe. Fan de foot un plus.
						</p>
					</header>
					<p>Non, nous n'avons pas de profil pré-déterminé pour nos recrutements. Evidemment pour prendre un job il faut que vous
						en ayez les compétences ou, à tout le moins, la capacité de les acquérir rapidement, mais ce qui nous intéresse tout
						autant c'est ce qui ne rentre pas "dans le cadre": ce que vous apportez et qui est vous.</p>
				</div>
				<div class="profil__img">
					<img src="/images/skill-cards.jpg" alt="Renforcer l'équipe Goood!">
				</div>
			</div>
		</section>
		<section class="diversite">
			<div class="row">
				<div class="diversite__content">
					<header>
						<h1>
							Nous sommes pro-diversité
						</h1>
						<p>
							un engagement ancien, et central
						</p>
					</header>
					<p>
						On réfléchit mieux à plusieurs et la diversité est donc une force; si nous sommes trop semblables nous raisonnons toujours
						dans un même cadre de référence et on finit par tourner en rond. C'est une de nos convictions, présente depuis la fondation
						de Goood! et qui se retrouve aussi dans une de nos valeurs (le Respect).
					</p>
					<p>
						C'est pourquoi nous avons souhaité en 2008 matérialiser cet engagement en signant la charte de la diversité. Et c'est surtout
						pourquoi nous cherchons des gens différents.
					</p>
				</div>
				<div class="diversite__img">
					<img src="/images/goood-people.jpg" alt="Goood! équipe extrapreneurs">
				</div>
			</div>
		</section>
		<section class="calltoaction">
			<header class="calltoaction__header">
				<p>
					Recrutement
				</p>
				<h1>
					Oublions le CV
				</h1>
			</header>
			<div class="calltoaction__content">
				<p>
					A la lumière de notre expérience et forts de nos convictions, nous avons développé un process de recrutement qui peut vous
					surprendre mais qui permet de concilier l'intérêt de chacun et les principes de la diversité : l'abandon du CV comme
					point de départ du recrutement.
				</p>
				<p>
					Avant de poser votre candidature, laissez-nous vous expliquer comment cela fonctionne et ce que nous attendons de vous.
				</p>
			</div>
		</section>
		<section class="candidature">
			<div class="row">
				<div class="candidature__img">
					
				</div>
				<div class="candidature__content">
					<header class="candidature__header">
						<p>
							Candidature
						</p>
						<h1>
							Parlez-nous de vous
						</h1>
					</header>
					<div class="candidature__text">
						{{{ contents }}}
					</div>
					<div class="candidature__action">
						<a class="btn btn-primary" href="https://www.welcometothejungle.co/fr/companies/goood/jobs">
							<span>Postuler</span>
						</a>
					</div>
				</div>
			</div>
		</section>
	{{> slide-nav-buttons 
	prevTitle = 'Équipe et Culture' 
	prevPath = '/equipe-et-culture/' 
	nextTitle = 'Agenda' 
	nextPath = '/agenda/' }} 
	{{> footer }}
	</div>
</div>
{{/inline}} {{/layout}}
