{{#> layout }}
  {{#*inline "content"}}
    <div class="slide" id="references">
      {{> slide-header title=title }}
      <div class="slide__content">
        <section class="etude">
          <header class="etude__header">
            <p>
              Études de cas
            </p>
            <h1>
              Chacuns de nos clients a une problématique unique
            </h1>
          </header>
          <div class="etude__content">
            <p>
              Voici quelques unes de nos références, organisées selon la
              problématique soulevée par notre client, à chaque fois différente.
              Nous intervenons pour tout type d’organisation sur des problématiques très diverses.
            </p>
            <div class="etude__groupe__btns">
              <a class="btn btn--primary">
                Notre démarche
              </a>
              <a class="btn ">
                Contactez-nous
              </a>
            </div>
          </div>
          <div class="row">
            <div class="slide__orange">
              {{svg "./inspirant.svg"}}
              <h3>Operations</h3>
              <p>
                Revisiter les méthodes de travail et les outils ou les usages digitaux pour accélérer les opérations
              </p>
            </div>
            <div class="slide__carousel slide__carousel--operations">
              <div class="slide__item">
                <div class="slide__item__title">
                  Réorganisation des
                  processus de production
                </div>
                <div class="slide__item__img">
                  <img src="/images/soge.png" alt="">
                </div>
                <div class="slide__item__society">
                  SGCIB
                </div>
                <div class="slide__item__descr">
                  Projet Cty
                </div>
                <a href="http://google.com" rel="download">
                  {{svg "./fleche-droite-ico.svg"}}
                </a>
              </div>
              <div class="slide__item">
                <div class="slide__item__title">
                  Réorganisation des
                  processus de production
                </div>
                <div class="slide__item__img">
                  <img src="/images/soge.png" alt="">
                </div>
                <div class="slide__item__society">
                  SGCIB
                </div>
                <div class="slide__item__descr">
                  Projet Cty
                </div>
                <a href="http://google.com" rel="download">
                  {{svg "./fleche-droite-ico.svg"}}
                </a>
              </div>
              <div class="slide__item">
                <div class="slide__item__title">
                  Réorganisation des
                  processus de production
                </div>
                <div class="slide__item__img">
                  <img src="/images/soge.png" alt="">
                </div>
                <div class="slide__item__society">
                  SGCIB
                </div>
                <div class="slide__item__descr">
                  Projet Cty
                </div>
                <a href="http://google.com" rel="download">
                  {{svg "./fleche-droite-ico.svg"}}
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="slide__orange">
              {{svg "./innovant.svg"}}
              <h3>Organisation</h3>
              <p>
                Mobiliser l’éco-système pour co-créer une Offre en rupture
              </p>
            </div>
            <div class="slide__carousel  slide__carousel--organisation">
              <div class="slide__item">
                <div class="slide__item__title">
                  Réorganisation des
                  processus de production
                </div>
                <div class="slide__item__img">
                  <img src="/images/soge.png" alt="">
                </div>
                <div class="slide__item__society">
                  SGCIB
                </div>
                <div class="slide__item__descr">
                  Projet Cty
                </div>
                <a href="http://google.com" rel="download">
                  {{svg "./fleche-droite-ico.svg"}}
                </a>
              </div>
              <div class="slide__item">
                <div class="slide__item__title">
                  Réorganisation des
                  processus de production
                </div>
                <div class="slide__item__img">
                  <img src="/images/soge.png" alt="">
                </div>
                <div class="slide__item__society">
                  SGCIB
                </div>
                <div class="slide__item__descr">
                  Projet Cty
                </div>
                <a href="http://google.com" rel="download">
                  {{svg "./fleche-droite-ico.svg"}}
                </a>
              </div>
              <div class="slide__item">
                <div class="slide__item__title">
                  Réorganisation des
                  processus de production
                </div>
                <div class="slide__item__img">
                  <img src="/images/soge.png" alt="">
                </div>
                <div class="slide__item__society">
                  SGCIB
                </div>
                <div class="slide__item__descr">
                  Projet Cty
                </div>
                <a href="http://google.com" rel="download">
                  {{svg "./fleche-droite-ico.svg"}}
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="slide__orange">
              {{svg "./performant.svg"}}
              <h3>Offre</h3>
              <p>
                Mobiliser l’éco-système pour co-créer une Offre en rupture
              </p>
            </div>
            <div class="slide__carousel slide__carousel--offre">
              <div class="slide__item">
                <div class="slide__item__title">
                  Réorganisation des
                  processus de production
                </div>
                <div class="slide__item__img">
                  <img src="/images/soge.png" alt="">
                </div>
                <div class="slide__item__society">
                  SGCIB
                </div>
                <div class="slide__item__descr">
                  Projet Cty
                </div>
                <a href="http://google.com" rel="download">
                  {{svg "./fleche-droite-ico.svg"}}
                </a>
              </div>
              <div class="slide__item">
                <div class="slide__item__title">
                  Réorganisation des
                  processus de production
                </div>
                <div class="slide__item__img">
                  <img src="/images/soge.png" alt="">
                </div>
                <div class="slide__item__society">
                  SGCIB
                </div>
                <div class="slide__item__descr">
                  Projet Cty
                </div>
                <a href="http://google.com" rel="download">
                  {{svg "./fleche-droite-ico.svg"}}
                </a>
              </div>
              <div class="slide__item">
                <div class="slide__item__title">
                  Réorganisation des
                  processus de production
                </div>
                <div class="slide__item__img">
                  <img src="/images/soge.png" alt="">
                </div>
                <div class="slide__item__society">
                  SGCIB
                </div>
                <div class="slide__item__descr">
                  Projet Cty
                </div>
                <a href="http://google.com" rel="download">
                  {{svg "./fleche-droite-ico.svg"}}
                </a>
              </div>
            </div>
          </div>
        </section>
        <section class="et-aussi">
          <div>Et aussi</div>
          <div class="et-aussi__container">
            <img src="/images/soge.png" alt="">
            <img src="/images/soge.png" alt="">
            <img src="/images/soge.png" alt="">
          </div>
        </section>
      </div>
    </div>
  {{/inline}}
{{/layout}}
