{{#> layout }}
  {{#*inline "content"}}
    <div class="slide" id="references">
      {{> slide-header title=headline }}
      <div class="slide__content">
        <section class="etude">
          <header class="etude__header">
            <p>
              Études de cas
            </p>
            <h1>
              {{ h1 }}
            </h1>
          </header>
          <div class="etude__content">
            <p>
              {{{ contents }}}
            </p>
            <div class="etude__groupe__btns">
              <a class="btn btn--primary" href="/recette-magique/" data-text="Démarche">
                <span>
                  Démarche
                </span>
              </a>
              <a class="btn" href="/contact/" data-text="Contacts">
                <span>
                  Contacts
                </span>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="slide__orange">
              {{svg "./performant.svg"}}
              <h2>Opérations</h2>
              <p>
                Revisiter les méthodes de travail et les outils ou les usages digitaux pour accélérer les opérations
              </p>
            </div>
            {{> reflist key="operations" collection=ref_ops }}            
          </div>
          <div class="row">
            <div class="slide__orange">
              {{svg "./inspirant.svg"}}
              <h2>Organisation</h2>
              <p>
                Développer l’autonomie responsable pour fluidifier l’organisation
              </p>
            </div>
            {{> reflist key="organisation" collection=ref_org }}            
          </div>
          <div class="row">
            <div class="slide__orange">
              {{svg "./innovant.svg"}}
              <h2>Offre</h2>
              <p>
                Mobiliser l’éco-système pour co-créer une Offre en rupture
              </p>
            </div>
            {{> reflist key="offre" collection=ref_offre }}            
          </div>
        </section>
        <section class="et-aussi">
          <!--<div>Et aussi</div>
          <div class="et-aussi__container">
            <img src="/images/soge.png" alt="">
            <img src="/images/soge.png" alt="">
            <img src="/images/soge.png" alt="">
          </div>-->
        </section>
        {{> slide-nav-buttons
          prevTitle = 'Recette Magique'
          prevPath = '/recette-magique/'
          nextTitle = 'Équipe et culture'
          nextPath = '/equipe-et-culture/'
        }}
        {{> footer }}
      </div>
    </div>
  {{/inline}}
{{/layout}}
