{{#> layout }}
  {{#*inline "content"}}
    <div class="slide" id="savoir-faire">
      {{> slide-header title=headline }}
      <div class="slide__content">
        <section class="savoirfaire-vision">
          <div class="row">
            <div class="savoirfaire-vision__content">
              <header>
                <h1>LA VISION DE GOOOD! SUR L’AGILITÉ ET NOTRE RECETTE MAGIQUE SE DECLINENT EN DIFFÉRENTS TYPES D’INTERVENTIONS</h1>
              </header>
              <p>
                Lorem ipsum dolor sit amet, ligula suspendisse nulla pretium, rhoncus tempor fermentum, enim integer ad vestibulum volutpat. turpis est.
              </p>
              <div class="savoirfaire-vision__content__labels">
                <div class="savoirfaire-vision__content__label">
                  <div class="savoirfaire-vision__content__label__img">
                    <img src="/images/image-petite.jpg"  alt="Pictogramme-Construire une vision partagée" />
                  </div>
                  Construire<br>
                  une vision <br>
                  partagée
                </div>
                <div class="savoirfaire-vision__content__label">
                  <div class="savoirfaire-vision__content__label__img">
                    <img src="/images/image-petite.jpg"  alt="Pictogramme-Construire une vision partagée" />
                  </div>
                  Transformer <br>
                  la culture
                </div>
                <div class="savoirfaire-vision__content__label">
                  <div class="savoirfaire-vision__content__label__img">
                    <img src="/images/image-petite.jpg"  alt="Pictogramme-Construire une vision partagée" />
                  </div>
                  Construire<br>
                  une vision<br>
                  partagée
                </div>
                <div class="savoirfaire-vision__content__label">
                  <div class="savoirfaire-vision__content__label__img">
                    <img src="/images/image-petite.jpg"  alt="Pictogramme-Construire une vision partagée" />
                  </div>
                  Développer <br>
                  un logiciel<br>
                  sur mesure
                </div>
                <div class="savoirfaire-vision__content__label">
                  <div class="savoirfaire-vision__content__label__img">
                    <img src="/images/image-petite.jpg"  alt="Pictogramme-Construire une vision partagée" />
                  </div>
                  Accélerer le<br>
                  Time to Market<br>
                  des projets IT
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="timetomarket">
          <div class="row">
            <div class="timetomarket__content">
              <header>
                <p>Accélérer le Time To Market des projets IT</p>
                <h1>
                  Combien de temps pour passer de l’idée à la mise en production de quelque chose qui crée de la valeur ?
                </h1>
              </header>
              <p>
                Nous avons une longue expérience de l’accompagnement des “faiseurs de logiciel” qu’ils soient éditeurs ou DSI. Notre connaissance fine des problématiques et des enjeux de ces métiers nous permet d’offrir un accompagnement complet.
              </p>
            </div>
            <div class="timetomarket__img"> -->
              <img src="/images/image-grande.jpg"  alt="Image" />
            </div>
          </div>
        </section>
        <section class="savoirfaire-rocket">
          <div class="row">
            <div class="savoirfaire-rocket__img" >
              <img src="/images/agile-rocket/rocket.jpg" alt="Agile Rocket" />
            </div>
            <div class="savoirfaire-rocket__content">
              <header>
                <p>L'AGILE ROCKET</p>
                <h1>
                  Afin de partager avec nos clients une même représentation de ce qui fait l’agilité, nous avons développé la démarche d’accompagnement de l’Agile Rocket
                </h1>
              </header>
              <p>
                La métaphore de l’Agile Rocket vise à vous guider progressivement vers une meilleure compréhension de ce qu’est une démarche vers plus d’agilité, des problèmes auxquels nous tentons d’apporter des améliorations et des invitations à la transformation progressive que nous portons.
              </p>
              <a href="/references/" class="arrow-link">
                Découvrir l'Agile Rocket
                {{svg "./fleche-droite-ico.svg"}}
              </a>
            </div>
          </div>
        </section>
        <section class="savoirfaire-rocket-description">
          <div class="row">
            <div class="savoirfaire-rocket-description__content">
              <p>
                Adoption des méthodes agiles (Scrum, Kanban, Extreme Programming et Lean Software Développement), ingénierie (Software Craftsmanship, devops), outillage et gestion du cycle de vie (ALM), Product Ownership, management des équipes de développement ...toutes ces facettes du logiciel sont liées et notre modèle de la fusée agile en offre une vue intégrative.
              </p>
            </div>
          </div>
        </section>
        {{> slide-nav-buttons
          prevTitle = 'Vision'
          prevPath = '/'
          nextTitle = 'Références'
          nextPath = '/references/'
        }}
        {{> footer }}
      </div>
    </div>
  {{/inline}}
{{/layout}}
