{{#> layout }}
  {{#*inline "content"}}
    <div class="slide sous-page" id="{{theme}}">
      {{> slide-header title=headline }}
      <div class="slide__content">
        <div class="row">
          <section class="intro">
              <p class="intro-formation">
                <span class="badge badge-info-formation"><i class="fa fa-clock-o" aria-hidden="true"></i> {{this.heures}} heures </span>
                <span class="badge badge-info-formation"><i class="fa fa-users" aria-hidden="true"></i> {{this.participants}} participants</span>
                <span class="badge badge-info-formation"><i class="fa fa-money" aria-hidden="true"></i> {{this.prixInter}} € HT inter-entreprises</span>
                <span class="badge badge-info-formation"><i class="fa fa-money" aria-hidden="true"></i> {{this.prixIntra}} € HT intra-entreprise</span>
              </p>
            {{{ contents }}}
            <div id="conteneur-repartition-methodologie">
              <canvas id="repartition-methodologie"></canvas>
            </div>
            <section class="intro">
            <h2>Les +</h2>
              <ul>
                  {{#each this.lesPlus}}
                  <li>
                      {{this}}
                  </li>
                  {{/each}}
              </ul>
            <h2>Les prochaines dates</h2>
              <p class="prochaines-dates">
                {{#each this.dates}}
                  <span class="badge badge-info-dates"><i class="fa fa-clock-o" aria-hidden="true"></i> {{this}}</span>
                {{/each}}
              </p>
            <h2>Notre numéro de centre de formation</h2>
            <p class="numero-formation">
              <span class="badge badge-info-numero-formation"><i class="fa fa-book" aria-hidden="true"></i> 11 75 54328 75</span>
            </section>
            <div class="row">
              <div id="location-espace-sud-contact">
                <a class="btn btn-primary" id="contact-formation" data-text="(mail à Célia)" href="mailto:formation@goood.pro?subject=Contact pour la formation : {{this.title}}">
                    <span>Nous contacter</span>
                </a>
              </div>
                </div>
            </div>
            <span style="display:none" id="pourcentagePratique">{{this.pourcentagePratique}}</span>
          </section>
        </div>
        {{> slide-nav-sous-pages
          parent = 'Evénements et formations'
          parentPath = '/evenements-formations/'
        }}
        {{> footer }}
      </div>
    </div>
  {{/inline}}
{{/layout}}
