{{#> layout }} {{#*inline "content"}}
<div class="slide" id="espace-sud">
    {{> slide-header title=headline }}
    <div class="slide__content">
        <section class="toolkit">
            <div class="row">
                <div class="toolkit__content header">
                    {{{ contents }}}
                </div>
            </div>
        </section>
        
       {{#each toolkits}}
        <div style="background:#FFF; left: auto; bottom: auto; right: auto; margin: 0px 0px 0px;
         display: block; position: relative; box-sizing: content-box; min-height: 80px; 
         height: auto;" >
                &nbsp 
            </div>
      
       <section class="orange">
          <div class="row">
            <div class="orange__content">
                
              <p style="font-size:2.5rem;font-weight:800;text-align:left;margin-bottom:10px">
                 {{{this.productname}}}
              </p>
              <p style="font-size:20px;"> {{{ priceHT }}} HT</p>
              <p style="font-size:1.3rem;text-align:left;color:#1d3f51;">
                  {{{this.headline}}}                  
              </p>
            
            <div class="row">
             <a class="btn btn--third" data-text="(c'est par là)" href="#{{this.id}}" role="button"  data-toggle="modal">
                        <span>+Detail</span>
             </a>
            </div>
            </div>
           
            <div class="orange__img" style="background-image:url({{{this.image}}})">
            </div>            
          </div>
        </section>
         {{/each}}
       

        <section class="maps" style="text-center">
            <div class="row">
                <div id="espace-sud-map-google">
                    <iframe width="600" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23109.1801784189!2d7.047806052126984!3d43.613880160351414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12cc2b01636ff2f3:0xf420fcad665148c7!2sEspace Goood *21 Sophia Antipolis!5e0!3m2!1sfr!2sfr!4v1485204281350"></iframe>
                </div>
            </div>
        </section>
        
        {{> slide-nav-sous-pages
          parent = 'Contacts'
          parentPath = '/contact/'
        }}
        {{> footer }}
    </div>
</div>

<!-- Modal HTML -->
{{#each toolkits}}
<div id="{{{this.id}}}" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header ">
                <div class="portrait__slides__close"  data-dismiss="modal" aria-hidden="true">✕</div>            
                <div class="portrait__slick-item__title"style="font-size: 1.75rem; text-align: left; margin-bottom: 10px;
}">{{{productname}}}</div>
            </div>
            <div class="modal-body">
                <div style="float:left">
                    {{{contents}}}                      
                </div>
                <div>
                    <form action='https://sandbox.2checkout.com/checkout/purchase' method='post'>
                    <!--<input type='hidden' name='sid' value='103287487'>-->
                    <input type='hidden' name='sid' value='901349646'>
                    
                    <input type='hidden' name='quantity' value='1'>
                    <input type='hidden' name='product_id' value='1'>
                    <input type='hidden' name='demo' value='Y' />  
                    <input name='submit' class="btn" type='submit' value='Commander' >
                    </form>
                   
                    <span style="font-size: 9px">2Checkout.com Inc. (Ohio, USA) is a payment facilitator for goods and services provided by http://www.goood.pro/.</span>
                </div>
            </div>
            <div class="modal-footer">
                           
            </div>
        </div>
    </div>
</div>
{{/each}}<!--Fin Modal HTML -->

{{/inline}} {{/layout}}
