{{#> layout }} {{#*inline "content"}}
<div class="slide" id="toolitem" itemscope itemtype="http://schema.org/Product" >
    {{> slide-header title=title }}
    <div class="slide__content">
       <!-- <section class="toolitem">
               <header class="toolitem__header">
                    {{headline}}
               </header>    
        </section>-->
        <section class="toolitem" >
            <div class="row">
              <div class="toolitem__content_fullsize"> 
                  <meta itemprop="price" content="{{productname}}" />
                  <meta itemprop="brand" content="Goood!" />
                  <meta itemprop="description" content="{{description}}" />
                   <meta itemprop="identifier" content="{{slug}}" />
                    <meta itemprop="image" content="{{mainimage}}" />
                  
                  
                    {{#if image}}
                    <div class="w3-content w3-display-container" >
            
                            {{#each this.image}}
                            <div class="w3-display-container mySlides">
                                <img src="{{path}}" alt="{{alt}}" width="600px" style="width:100%" />
                                <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-orange">
                                    {{alt}}
                                </div>
                            </div>
                        {{/each}}
                        
                        <button class="w3-button w3-display-left w3-orange" onclick="plusDivs(-1)">&#10094;</button>
                        <button class="w3-button w3-display-right w3-orange" onclick="plusDivs(1)">&#10095;</button>

                    </div>
                    {{/if}}
               </div><!--End toolitem__content_fullsize -->
                <div class="toolitem__price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                     <meta itemprop="priceCurrency" content="EUR" />
                     <meta itemprop="price" content="{{priceTTC}}" />
                     
                    <h1>{{priceHT}} HT</h1>
                    <p  >{{priceTTC}} TTC <br>                
                    TVA : {{TauxTVA}}</p>
                   
                    {{#if IsDelivery}}
                     {{#if InStock}}
                    <H2 itemprop="availability" href="http://schema.org/InStock">En stock</H2>
                    {{/if}}<!-- InStock-->
                    <p>Le produit vous sera expédié sous 5 jours ouvrés.</p>
                    {{/if}}<!-- IsDelivery -->
                    {{#if IsPayment}}   
                   
                    
                    {{#if InStock}}
                   <form action="{{paymenturl}}" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                           {{{PaymentHtml}}}
                            <input name='submit' class="btn" type='submit' value='{{buttonAchatLabel}}' alt="PayPal, le réflexe sécurité pour payer en ligne">                            
                            <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    {{else}}<!-- InStock-->
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLScIbgsLlH3jG63tV2hbMQlFWilhfxbi5C0l_fGLHS3e7IJFXw/viewform?usp=pp_url&entry.282939771={{slug}}"
                   target="_blank" class="btn btnlink">{{{buttonAchatLabel}}}</a>   

                    {{/if}}<!--End InStock -->                        
                    {{/if}}<!--End IsPayment -->
                  
                    <div class="contact"  >Une question, contactez nous par mail ou téléphone:
                        <ul>
                        <li><i class="fa fa-phone" aria-hidden="true" style="margin-right: 20px;"></i>01 75 50 67 69</li>
                        <li><i class="fa fa-envelope" aria-hidden="true" style="margin-right: 20px;"></i><a href="mailto:contact@goood.pro">contact@goood.pro</a></li>
                        </ul>
                    </div>
                </div><!--End toolitem__price -->
                
            </div>
             <div class="row">
                  <div class="toolitem__content" >                    
                     {{{ contents }}}
               </div><!--End toolitem__content -->
             
             </div>
            </div>
            </section>
           
<script>

var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}
</script>
        {{> slide-nav-sous-pages
          parent = 'Retour aux produits'
          parentPath = '/toolkit'        
        }}
        {{> footer }}
    </div>
    </div>    
{{/inline}} {{/layout}}
