{{#> layout }} {{#*inline "content"}}
<div class="slide" id="tooolkit">
    {{> slide-header title=headline }}
    <div class="slide__content">
        <section class="toolkit">
           
                <header class="toolkit__header">
                    {{{ contents }}}
                </header>
           
        </section>
        
       {{#each toolkits}}
        
               
       <section class="orange"> 
          <div class="row">
            <div class="orange__content">
              <p style="font-size:2.5rem;font-weight:800;text-align:left;margin-bottom:10px;margin-top:10px;text-transform: uppercase;">
                 {{{this.productname}}} 
              </p>
              <p style="font-size:26px;font-weight:400; margin-top:10px;margin-bottom:15px"> {{{ priceTTC }}} TTC</p>
              <p style="font-size:1.3rem;text-align:left;color:#1d3f51;margin-top:10px">
                  {{{this.headline}}}                  
              </p>
            
            <div class="row" style="margin-left:0px;padding:0px">
            
              <a class="btn btn--third" data-text="(c'est par là)" href="/tools/{{this.slug}}" role="button"  data-toggle="modal">
                        <span>Découvrir ce produit</span>
              </a>
            </div>
            </div>
           
            <div class="orange__img" style="background-image:url({{{this.headerimage}}})">
            </div>            
          </div>
        </section>
        <div class="toolkit__rowseparator" >
                &nbsp 
            </div>
         {{/each}}
       
        
        {{> slide-nav-sous-pages
          parent = 'Contacts'
          parentPath = '/contact/'
        }}
        {{> footer }}
    </div>
</div>

<!-- Modal HTML -->
{{#each toolkits}}
<div id="{{{this.id}}}" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header ">
                <div class="portrait__slides__close"  data-dismiss="modal" aria-hidden="true">✕</div>            
                <div class="portrait__slick-item__title"style="font-size: 1.75rem; text-align: left; margin-bottom: 10px;
}">{{{productname}}}</div>
            </div>
            <div class="modal-body">
                <div>Prix  {{priceTTC}} TTC / {{priceHT}} HT</div>
                <div style="float:left">
                    {{{contents}}}                      
                </div>
                <div>
                    <form action='{{../2checkouturl}}' method='post'>
                  
                    <input type='hidden' name='sid' value='901349646'>
                    
                    <input type='hidden' name='quantity' value='1'>
                    <input type='hidden' name='product_id' value='{{this.2checkoutProductId}}'>
                    
                    <input name='submit' class="btn" type='submit' value='Commander' >
                    </form>
                   
                    <span style="font-size: 9px">2Checkout.com Inc. (Ohio, USA) is a payment facilitator for goods and services provided by http://www.goood.pro/.</span>
                </div>
            </div>
            <div class="modal-footer">
                           
            </div>
        </div>
    </div>
</div>
{{/each}}<!--Fin Modal HTML -->

{{/inline}} {{/layout}}
