{{#> layout }} {{#*inline "content"}}
<div class="slide" id="espace-sud">
    {{> slide-header title=headline }}
    <div class="slide__content">
        <section class="toolkit">
            <div class="row">
                <div class="toolkit__content header">
                    {{{ contents }}}
                </div>
            </div>
        </section>
        <div style="background:#FFF; left: auto; bottom: auto; right: auto; margin: 0px 0px 0px;
         display: block; position: relative; box-sizing: content-box; min-height: 50px; 
         height: auto;" >
                &nbsp 
            </div>
       <section class="orange">
          <div class="row">
            <div class="orange__content">
                
              <p style="font-size:2.5rem;font-weight:800;text-align:left;margin-bottom:10px">
                Kit de facilitation 
              </p>
              <p style="font-size:20px;"> {{{ pricekitHT }}} HT</p>
              <p style="font-size:1.3rem;text-align:left;color:#1d3f51;">
                  Pour faciliter l'animation de vos réunion, nous vous avons préparé tous nos outils regroupés dans un kit.
                  
              </p>
            
            <div class="row">
             <a class="btn btn--third" data-text="(c'est par là)" href="#myModal" role="button"  data-toggle="modal">
                        <span>+Detail</span>
             </a>
            </div>
            </div>
           
            <div class="orange__img" style="background-image:url({{{image-stikcy}}})">
            </div>
            
           
            
          </div>
        </section>
        <div style="background:#FFF; left: auto; bottom: auto; right: auto; margin: 0px 0px 50px;
         display: block; position: relative; box-sizing: content-box; min-height: 50px; 
         height: auto;" >
                &nbsp
            </div>
<section class="orange">
          <div class="row">
            <div class="orange__content">
              <p>
                Sticky Wall <strong>{{{ pricestickyHT }}} ({{{ pricestickyTTC }}})</strong>
              </p>
            </div>
            <div class="orange__img">
            </div>
          </div>
        </section>
        <div style="background:#FFF; left: auto; bottom: auto; right: auto; margin: 0px 0px 50px;
         display: block; position: relative; box-sizing: content-box; min-height: 50px; 
         height: auto;" >
                &nbsp
            </div>
<section class="orange">
          <div class="row">
            <div class="orange__content">
              <p>
                Espace Sud <strong>{{{ pricestickyHT }}} ({{{ pricestickyTTC }}})</strong>
                 
              </p>
              <a class="btn btn--primary" href="#">
                        <span>+Detail</span>
                    </a>
            </div>
            <div class="orange__img" style="background-image:url(../images/espace-sud.jpg)">
            </div>
          </div>
        </section>
        <section class="maps" style="text-center">
            <div class="row">
                <div id="espace-sud-map-google">
                    <iframe width="600" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23109.1801784189!2d7.047806052126984!3d43.613880160351414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12cc2b01636ff2f3:0xf420fcad665148c7!2sEspace Goood *21 Sophia Antipolis!5e0!3m2!1sfr!2sfr!4v1485204281350"></iframe>
                </div>
            </div>
        </section>
        <section class="contact">
        <div class="row">
            <div id="location-espace-sud">
                <table id="location-espace-sud-table" class="rwd-table">
                    <tr>
                        <th>EVENEMENTS GRATUITS / COMMUNAUTES</th>
                        <th>EVENEMENTS PAYANTS / ENTREPRISES / FORMATIONS</th>
                    </tr>
                    <tr>
                        <td>0€</td>
                        <td>290€ HT/J ou 190€ HT 1/2 J</td>
                    </tr>
                    <tr>
                        <td>2 espaces de 40m²</td>
                        <td>2 espaces de 40m²</td>
                    </tr>
                    <tr>
                        <td>20 personnes max</td>
                        <td>20 personnes max</td>
                    </tr>
                    <tr>
                        <td>Ménage à votre charge ou 55€</td>
                        <td>Café compris</td>
                    </tr>
                </table>
            </div>
        </div>
            <div class="row">
                <div id="location-espace-sud-contact">
                    <a class="btn btn-primary" data-text="(mail à l'équipe Sud')" href="mailto:sud@goood.pro">
                        <span>Nous contacter pour réserver</span>
                    </a>
                </div>
            </div>
        </section>
        {{> slide-nav-sous-pages
          parent = 'Contacts'
          parentPath = '/contact/'
        }}
        {{> footer }}
    </div>
</div>

<!-- Modal HTML -->
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Kit de faciliation</h4>
            </div>
            <div class="modal-body">
                <div style="float:left">
                    <p>Contenu du kit</p>
                     <ul>
                        <li>Un tissu bleu de 3m de longueur par 1,15m de large.</li>
                        <li>Une bombe de colle repositionnable à appliquer sur toute la surface du tissu</li>
                        <li>Un rouleau de scotch permettant d’accrocher le kit sur un mur</li>
                        <li>1 boite de 10 feutres avec 4 couleurs (noir, vert, bleu et rouge)</li>
                        <li>Un jeu de photolangage pour ouvrir et fermer vos workshops</li>
                        <li>1 sac de transport pour tous les éléments du kit</li>
                    </ul>
                </div>
                <div>
                    
                  <button id="myStripeButton">Pay with Card</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script src="https://checkout.stripe.com/checkout.js"></script>



<script>
var handler = StripeCheckout.configure({
    key: 'pk_test_Gn62kWEK4j3Mj9s5l8tId4z6',
    image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
    token: function(token, args) {
      // Use the token to create the charge with a server-side script.
      // You can access the token ID with `token.id`
      // args will contain all the billing and shipping info.
      // The billing info is automatically attached to the token and card.
    }
  });

document.getElementById('myStripeButton').addEventListener('click', function(e) {
    // Open Checkout with further options
    handler.open({
        name: 'Goood!',
        description: '2 widgets ($20.00)',
        amount: 2000,
        shippingAddress: true,
        billingAddress: true,
    });
    e.preventDefault();
});
</script>
{{/inline}} {{/layout}}
