#agile-rocket {

    .header {
    @extend %contentPadding;
    //padding-bottom: 0;
    position: relative;
    overflow: auto;
    padding-bottom: 50px;
    background: $secondaryColor;
     h1 {
      max-width: 870px;
      margin-left: auto;
      margin-right: auto;
    }

    h1, p, p { color: white; }
    p:after { background: white; }

    @media #{$medium-up} {
      text-align: center;
      p:after {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .rocket {
  @extend %contentPadding;

  display: flex;
  flex-direction: column;

  @media #{$medium-up} {
    flex-direction: row;
  }

    &__left {
      padding-right: 20%;
      @media #{$medium-up} {
        padding-right: 0;
        flex: 1;
      }
    }

    &__middle {

      @media #{$small-only} {
      order: -1;
      }
      @media #{$medium-up} {
        flex-basis: 40%;
        max-width: 40%;
        }
      img { width: 100%;}

    }

    &__right {

      padding-right: 20%;
      @media #{$medium-up} {
        padding-right: 0;
        flex: 1;
      }
    } 
      p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: em(20);
    line-height: em(23);
  }
  }

.row_header {
    @extend %sectionPadding;
  @media #{$small-only} { padding-bottom: 0; }
     position: relative;
       top: 0;
  left: 0;
  width: 100vw;
      padding : 0 20px;
      margin-bottom: 50px;
      background-color:red;
    }

.row {
      max-width: 800px;
      padding-bottom: 20px;
      margin-bottom: 50px;
    }

    


.pink {
    background-color:#FFD6DE;
  }

.yellow {
    background-color:#FFEE62;
  }

.blue {
    background-color:#9BCAE4;
  }

.green {
    background-color:#B8D650;
  }

.grey {
    background-color:#F0F2ED;
  }

.button_specific {
  clear:both;
  margin-bottom: 5px;
  margin-right:auto;
  margin-left:auto;
}
.rocketdesc {
  @extend %sectionPadding;
  background: $secondaryColor;

  @media #{$small-only} {
    padding: 0;
  }

  header {
    h1, p, p { color: white; }
    p:after { background: white; }
  }

  &__content {
    @extend %contentPadding;
    flex: 1;

    p {
      color: white;
    }

    @media #{$medium-up} {
      align-self: center;
    }
  }

  &__img {
    @extend %shadow;

    background-size: cover;
    background-position: right center;
    background-image: url('/images/agile-rocket/rocket.jpg');
    background-color: lighten(black, 80%);
    height: 58vw;
    display: flex;
    align-items: center;
    justify-content: center;


    @media #{$medium-up} {
      flex-basis: 47%;
      max-width: 47%;
      height: 36vw;
      max-height: 466px;
      align-self: center;
    }
  }
}

}