#agile-rocket {
  .w45{
      width:95%;
       @media #{$medium-up} {
         width:45%;
         min-height: 40rem;
       }
    }
    .w55{
      width:95%;
       @media #{$medium-up} {
         width:55%;
         min-height: 40rem;
       }
    }
    .demarrer
    {
          text-transform: uppercase;
          @extend %headingExtraBoldFont;
    }

  .rocket__demarche {
    background: $secondaryColor;
    padding-bottom:3rem;
    &__content{ 
      h1 {
        color: white;
        text-align: center;
      }
      p{
        color: white;
        text-align: center;
        
      }
     header p {
      &:after {
       background: white;       
       margin:auto;
       margin-top:1rem;
      }
    }
     
    }
   
    
  }
  .intro
  {
     @extend %contentPadding;
      
    .div_left{
      float: left;
      position: relative;
      flex:1;
      display: flex;
       flex-direction: column;
       @media #{$small-only} {
          flex-direction: column;
       }
     
    } 
    .shadow{
        @extend %shadow;
        z-index:1000;
        flex-basis: 45%;
        
      }
    .movetextover
    {
      
        z-index:2;
        flex:1;
        position: relative;
    } 
  }
  .actions{
        @extend %contentPadding;
        @extend %shadow;
        margin: auto;
        display: flex;        
        flex:1;
        background-color: white;
        width:98%;
        @media #{$medium-up} {
        width:75%; 
        }
        
        margin-top:-5rem;
        

        @media #{$small-only} {
          padding-right: 0;
          margin-top:1rem;
          width:95%;
          flex: 1;
          flex-direction: column;
         }
      }
      
      .action
      {
        display: flex;        
        flex:1;
        flex-direction: row;
        padding:0 2rem;
        float: left;
        position: relative;
        display:block;
        width:100%;
        @media #{$medium-up} {
          width:33%;
         }
        p{
          text-align: center;
          font-size:1.3rem;
          color:$secondaryColor;
          @extend %contentBoldFont;
        }
        .btn-secondary
        {
          background: #fc4c02;
          color: white;
          border-color: white;
        }
        .link-orange
        {
          text-align: right;
          color:$primaryColor;
          display:block;
        }
      }
      .demarrer
      {
          @extend %contentBoldFont;
          color:$secondaryColor;
          margin:auto;
      }

  

.row {
     
      padding-bottom: 20px;
      margin-bottom: 50px;
      @media #{$small-only} { padding-right: 16px; }
    }


.rocket_modules
{
 
  .scribbing{
      width:95%;
      
      
    }
  h1{
    color:$secondaryColor;
    margin-top:0px;
  }
  &_content{
    @extend %contentPadding;
    width:95%;
    @media #{$medium-up} {
      width:45%
    }
    
  }
  .margin0
  {
    margin-bottom:0rem;
  }
}
}
