#agile-rocket {

  .rocket__demarche {
    background: $secondaryColor;

    &__content h1 {
      color: white;
    }
  }

  .rocket {
    @extend %contentPadding;
    display: flex;
    flex-direction: column;

    ul {
      width: 100%;
    }

    li {
      list-style-type: none;
    }

    .arrow-link {
      color: $primaryColor;
      svg, path { fill: $primaryColor!important; }
    }


    @media #{$medium-up} {
      flex-direction: row;
    }

    &__left {
      padding-right: 20%;
      @media #{$medium-up} {
        padding-right: 0;
        flex: 1;
      }
    }

    &__middle {
      @media #{$small-only} {
        order: -1;
      }
      @media #{$medium-up} {
        flex-basis: 40%;
        max-width: 40%;
      }
      img {
        width: 100%;
      }
    }

    &__right {
      padding-right: 20%;
      @media #{$medium-up} {
        padding-right: 0;
        flex: 1;
      }
    }

    p {
      margin-top: 0;
      margin-bottom: 20px;
      font-size: em(20);
      line-height: em(23);
    }

    &__book {
      @media #{$small-only} {
      order: -1;
    }

    @media #{$medium-up} {
      flex-basis: 40%;
      max-width: 40%;
    }

    img {
      width: 100%;
    }
  }
}

.row_header {
  @extend %sectionPadding;
  @media #{$small-only} { padding-bottom: 0; }
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  padding : 0 20px;
  margin-bottom: 50px;
  background-color:red;
}

.row {
      max-width: 800px;
      padding-bottom: 20px;
      margin-bottom: 50px;
      @media #{$small-only} { padding-right: 16px; }
    }

.pink {
    background-color:#FFD6DE;
  }

.yellow {
    background-color:#FFEE62;
  }

.blue {
    background-color:#9BCAE4;
  }

.green {
    background-color:#B8D650;
  }

.grey {
    background-color:#F0F2ED;
  }

.button_specific {
  clear:both;
  margin-bottom: 5px;
  margin-right:auto;
  margin-left:auto;
}

.rocket_orange {
  background: $primaryColor;
  position: relative;
  z-index: 1;


  &__content {
    @extend %contentPadding;
    padding-top: 0;
    padding-bottom: 0;
    flex: 1;

    p {
      color: white;
    }

    @media #{$medium-up} {
      align-self: center;
    }
  }
}



.rocket__full {
  background: white;
  position: relative;
  z-index: 1;
  display: flex;

  @media #{$medium-up} {
    padding-left: 30px;
    padding-bottom: 30px;
    max-width: 100%;
  }

  @media #{$large-up} {
    background-position: top right;
  }

  .row {
    width: 100% !important;
    max-width: 100% !important;
  }

  &__img {
    align-items: center;
    justify-content: center;
    flex: 1;
    img {
      width: 100%;
    }
  }

  &__content {
    @extend %contentPadding;
    flex: 1;
    flex-grow: 2;
    color: $secondaryColor;

    p {
      color: $secondaryColor;
    }

    p, ul, li {
       line-height: em(36);
       font-size: em(24);
       margin: 0;
    }
    p, ul{
      margin-top: 0.7em;
    }

    header p {
      &:after {
        background: $secondaryColor;
      }
    }
  }
}
}
