.btn {
  font-size: em(26);
  height: em(56);
  border: 3px solid $primaryColor;
  color: $primaryColor;
  text-align: center;
  padding: 0 em(25);
  border-radius: 28px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: em(170);
  position: relative;

  & > span {
    transition: transform 0.3s, opacity 0.3s;
    transform: translate3d(0, 0, 0);
  }

  &:before {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
    transform: translate3d(0, 25%, 0);
  }

  &:hover {
    & > span {
      transform: translate3d(0, -25%, 0);
      opacity: 0;
    }

    &:before {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  &--primary {
    border: none;
    color: white;
    background: $primaryColor;
  }

  &--secondary {
    border: 3px solid $secondaryColor;
    color: $secondaryColor;
  }
}

.arrow-link {
  @extend %contentBoldFont;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: em(19);
  color: white;
  text-decoration: none;

  svg {
    margin-left: 10px;
    width: 17px;
  }
}
