.btn {
  font-size: em(26);
  height: em(56);
  border: 3px solid $primaryColor;
  color: $primaryColor;
  text-align: center;
  padding: 0 em(25);
  border-radius: 28px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: em(170);

  &--primary {
    border: none;
    color: white;
    background: $primaryColor;
  }
}
