#events {
  .intro {
    @extend %contentPadding;
  }

  p {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: em(22);
    line-height: em(23);
  }
  .cd-timeline-block p{
  	margin-bottom:15px;
  }
}
