#equipe {
  .slide__header {
    background-image: url('../images/header-equipe-'+$theme+'.jpg');
  }
}

#career {
  .slide__header {
    background-image: url('../images/header-career-'+$theme+'.jpg');
  }
}

#contact {
  .slide__header {
    background-image: url('../images/header-contact-'+$theme+'.jpg');
  }
}

#events {
  .slide__header {
    background-image: url('../images/header-events-'+$theme+'.jpg');
  }
}

#agenda {
    .slide__header {
    background-image: url('../images/agenda.jpg');
  }
}
#demande-validee {
  .slide__header {
    background-image: url('../images/header-clients-th3.jpg');
  }
}
#references {
  .slide__header {
    background-image: url('../images/header-clients-'+$theme+'.jpg');
  }
}

#recette-magique {
  .slide__header {
    background-image: url('../images/header-recette-'+$theme+'.jpg');
  }
}

#espace-sud {
  .slide__header {
    background-image: url('../images/espace-sud.jpg');
  }
}

#tooolkit {
  .slide__header {
    background-image: url('../images/espace-sud.jpg');
  }
}

#agile {
  .slide__header {
    background-image: url('../images/workshop.jpg');
  }
}

#dev {
  .slide__header {
    background-image: url('../images/Coding dojo.jpeg');
  }
}

#offre {
  .slide__header {
    background-image: url('../images/header-offre-'+$theme+'.jpg');
  }
}
