
.wrap {
  background-color: white;
  display: flex;
  position: relative;
  cursor: grab;

  &--grabbing {
    cursor: grabbing;
  }

  &.animate {
    transition: all 450ms;
  }
}


.slide {
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  position: relative;

  // overflow: hidden; // Uncomment when handleScrollBehaviour()
  overflow: auto;
  overflow-x: hidden;

  & img {
    pointer-events: none; /* fixing FF img drag */
  }

  &__header {
    height: 100vh;
    background: rgba(black, .1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1000ms;

    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
  }

  &__title {
    @extend %headingExtraBoldFont;

    color: $primaryColor;
    text-transform: uppercase;
    font-size: em(48);
    align-self: flex-end;
    position: relative;
    padding-bottom: 35px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;

    background-image: url('../images/ligne-titre.svg');
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 100%;

    @media #{$medium-up} {
      font-size: em(62);
      left: -10%;
      bottom: 20%;
      padding-bottom: 80px;
    }
  }


  &__content {
    transition: transform 1000ms;
  }

  &--isSliding {

    .slide__header {
      transform: translateY(-100%);
    }

    .slide__content {
      transform: translateY(-100vh);
    }
  }

  &--isSlided {
    overflow: auto;
  }

}

.slide:nth-child(3) { background: #122C58; }
.slide:nth-child(4) { background: #0B0A10; }
.slide:nth-child(5) { background: #86A076; }
