header p {
  font-size: em(20);
  color: $secondaryColor;
  margin: 0;

  @extend %headingBoldFont;

  &:after {
    content: '';
    margin-top: 10px;
    width: 22px;
    height: 2px;
    background: $secondaryColor;
    display: block;
    position: relative;
  }
}

h1 {
  @extend %headingExtraBoldFont;

  color: $primaryColor;
  text-transform: uppercase;
  margin-bottom: 0;

  font-size: 24px;

  @media #{$medium-up} {
    font-size: em(42);
  }
}

p {
  font-size: em(28);
  line-height: em(33);
}

em {
  font-style: normal;
  color: $primaryColor;
}

strong {
  font-weight: 600;
}
