$primaryColor: #fc4c02;
$secondaryColor: #1d3f51;

@function em($pixels, $context: 16) {
  @return #{$pixels/$context}rem
}

%headingExtraBoldFont {
  font-family: 'Raleway';
  font-weight: 800;
}

%headingBoldFont {
  font-family: 'Raleway';
  font-weight: 700;
}

%contentFont {
  font-family: 'Source Sans Pro', arial;
  font-weight: 400;
}

%contentBoldFont {
  font-family: 'Source Sans Pro';
  font-weight: 600;
}

%contentExtraBoldFont {
  font-family: 'Source Sans Pro';
  font-weight: 700;
}

%contentPadding {
  padding: em(30) em(25);
}

%sectionPadding {
  padding: em(10) 0;

  @media #{$medium-up} {
    padding: em(25) 0;
  }
}
