$primaryColor: #fc4c02;
$secondaryColor: #1d3f51;
$theme: th2;

@function em($pixels, $context: 16) {
  @return #{$pixels/$context}rem
}

%headingExtraBoldFont {
  font-family: 'Raleway';
  font-weight: 900;
}

%headingBoldFont {
  font-family: 'Raleway';
  font-weight: 700;
}

%contentFont {
  font-family: 'Source Sans Pro', arial;
  font-weight: 400;
}

%contentBoldFont {
  font-family: 'Source Sans Pro';
  font-weight: 600;
}

%contentExtraBoldFont {
  font-family: 'Source Sans Pro';
  font-weight: 700;
}

%contentPadding {
  padding: em(30) em(25);
}

%sectionPadding {
  padding: em(10) 0;

  @media #{$medium-up} {
    padding: em(25) 0;
  }
}

%shadow {
  box-shadow: 0px 8px 65px 0 rgba(0, 0, 0, 0.18);
}

@mixin constructBulle($color, $padding, $strokeWidth: 12px,  $inversed: false) {
  border: $strokeWidth solid $color;
  padding: $padding;
  border-radius: 10px;
  position: relative;

  @if $inversed == true {
    margin-top: 40px;
  }

  use {
    stroke: $color;
    stroke-width: $strokeWidth;
  }

  &__content {
    position: relative;
    z-index: 1;
  }

  &__border {
    bottom: -13px;
    position: absolute;
    width: 155px;
    height: 208px;
    right: -11px;
    z-index: 0;

    @if $inversed == true {
      bottom: auto;
      transform: rotateX(180deg);
      top: -13px;
    }
  }

  &__bottom {
    bottom: 0;
    position: absolute;
    width: 100px;
    height: 43px;
    transform: translateY(100%);

    @if $inversed == true {
      bottom: auto;
      top: 0;
      transform: translateY(-100%) rotateX(180deg);
      left: 40px;
    }
  }
}

svg.use-svg path{
  stroke: inherit;
  stroke-width: inherit;
}

@mixin addSemiBackground($height, $color: $primaryColor) {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $height;
    background: $color;
    z-index: 0;
  }
}


.small-only {
  display: none;
  @media #{$small-only} {
    display: block;
  }
}

.medium-up {
  display: none;
  @media #{$medium-up} {
    display: block;
  }
}
