@import 'slide';

body {
  margin: 0;
}

.main-wrapper {
  overflow: hidden;
}

/** TESTING PURPOSE ONLY **/
#nextprev {
  position: fixed;
  color: white;
  top: 20px;
  left: 20px;
  z-index: 1000;
  font-family: arial;
  display:flex;
  div {
    margin: 0 20px;
    cursor: pointer;
    &:hover { font-weight: bold; }
  }
}

#log {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  position: fixed;
  bottom: 20px;
  width: 400px;
  z-index: 200;
  color: white;
  left: 20px;
  display: flex;
  flex-direction: column;
  opacity: .4;
  pointer-events: none;

  .info {
    opacity: .5;
  }

  .error {
    color: red;
  }
}
