@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,800';

@import 'helpers/normalize';
@import 'helpers/breakpoints';

@import 'variables';

@import 'buttons';
@import 'typography';

@import 'slide';
@import 'slideNavButtons';
@import 'subPage';

@import 'home/landing';
@import 'home/mission';
@import 'home/vision';
@import 'home/progres';
@import 'home/chiffres';

@import 'equipe/landing';
@import 'equipe/competences-equipes.scss';
@import 'equipe/portraits';
@import 'equipe/culture.scss';

@import 'recette/magie.scss';
@import 'recette/be-agile.scss';
@import 'recette/demarche.scss';
@import 'recette/benefices.scss';

@import 'references/etudes-de-cas.scss';

@import 'events';
@import 'contact';

@import 'footer';


* {
  box-sizing: border-box;
}

html {
  font-size: 70%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media #{$medium-up} {
    font-size: 80%;
  }

  @media #{$large-up} {
    font-size: 100%;
  }
}

body {
  margin: 0;
  @extend %contentFont;
  color: $secondaryColor;

  &:after {
    content: '';
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 8;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
  }

  &:before {
    content: '';
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(white, 0.5);
    background-image: url(/images/rolling.gif);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center center;
    z-index: 1000;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events:none;
  }
}

.body {
  &--isLoading {
    &:before {
      opacity: 1;
      pointer-events:auto;
    }
  }
}

a {
  text-decoration: none;
}


.body--hasOverlay {
  .slide {
    overflow: hidden;
  }

  .ham {
    transform: translateX(150px);
  }
}

.main-wrapper {
  overflow: hidden;
}

.ham {
  @extend %shadow;

  width: em(65);
  height: em(65);
  top: em(30);
  right: em(30);
  border-radius: 4px;
  background-color: $primaryColor;
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform .5s cubic-bezier(.8,-0.86,.32,1.58);
  cursor: pointer;

  background-image: url(/images/menu-ico.svg);
  background-position: center center;
  background-size: em(32);
  background-repeat: no-repeat;
}

.body--hasMenuOpened .ham {
  background-image: url(/images/close.svg);
}

.logo {
  @media #{$small-only} {
    width: 90px;
    height: 40px;
    top: 20px;
    left: 20px;
    z-index: 5;
  }

  width: 120px;
  height: 60px;
  position: absolute;
  top: 35px;
  left: 40px;

  svg {
    width: 100%;
    height: 100%;
  }
}

.row {
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
  flex-wrap: wrap;

  @media #{$medium-up} {
    padding: 0 em(20);
    flex-direction: row;
  }
}

.nav {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  bottom: 0;
  background: $secondaryColor;
  transform: translateX(100%);
  transition: transform .5s cubic-bezier(.94,.13,.14,1.23);
  display:flex;
  right: -100px;
  padding-right: 100px;


  @media #{$medium-up} {
    left: auto;
    width: 100%;
    max-width: 600px;
  }

  &__container {
    &:after {
      content: '';
      background-image: url(/images/sourire.svg);
      width: 210px;
      height: 35px;
      display: block;
      background-size: 100%;
      position: absolute;
      bottom: 35px;
      left: 50%;
      transform: translateX(-50%);
    }
    overflow: auto;
    position: relative;
    flex: 1;
  }

  &__logo {
    margin-left: 20px;
    margin-top: 20px;
    width: 100px;
    display: block;

    @media #{$medium-up} {
      width: 130px;
    }

    svg {
      width: 100%;
    }
  }

  &__menu {
    display:flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 20px;

    a {
      @extend %headingBoldFont;
      font-size: 20px;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      margin-top: 15px;
      position: relative;

      @media #{$medium-up} {
        font-size: 30px;
        margin-top: 20px;
      }

      &:before {
        opacity: 0;
        content: '';
        background: url(/images/fleche-orange.svg);
        width: 18px;
        height: 14px;
        position: absolute;
        top: 50%;
        right: -60px;
        background-size: 100%;
        transform: translatey(-50%);
        transition: .5s ease;

        @media #{$medium-up} {
          width: 24px;
          height: 19px;
        }
      }

      &:hover {

        &:before {
          right: -40px;
          opacity: 1;
        }
      }
    }

    a.secondary{
      font-size: 12px;
      @media #{$medium-up} {
        font-size: 16px;
        margin-top: 16px;
      }
    }
  }
}

.body--hasMenuOpened {
  .nav {
    transform: translateX(0);
  }

  &:after {
    opacity: 1;
    pointer-events: auto;
  }
}

.b-lazy {
  transition: opacity 1s;
  max-width: 100%;
  opacity: 0;

  &.b-loaded {
    opacity: 1;
  }
}
