@import 'module';

body {
  margin: 0;
}

.wrap {
  width: 100vw;
  height: 100vh;
  background-color: #222;

  overflow: hidden;
  position: relative;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;

  overflow: auto;
}

.wrap.animate > .slide {
  transition: all 250ms;
  -webkit-transition: all 250ms;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;

  text-align: center;
  font: bold 60px/250px 'Open Sans', Helvetica, Arial, sans-serif;
  color: #fff;
}

.slide img {
  pointer-events: none; /* fixing FF img drag */
}

.slide-0 { background: #D70230; height: 2000px;}
.slide-1 { background: #770D1C; }
.slide-2 { background: #1F356E; }
.slide-3 { background: #122C58; }
.slide-4 { background: #0B0A10; }
.slide-5 { background: #86A076; }
