@import 'https://fonts.googleapis.com/css?family=Raleway:800,700';
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700';

@import 'helpers/normalize';
@import 'helpers/breakpoints';

@import 'variables';

@import 'buttons';
@import 'typography';

@import 'slide';
@import 'subPage';

@import 'home/landing';
@import 'home/mission';
@import 'home/vision';

html {
  font-size: 70%;

  @media #{$medium-up} {
    font-size: 80%;
  }

  @media #{$large-up} {
    font-size: 100%;
  }
}

body {
  margin: 0;
  @extend %contentFont;
  color: $secondaryColor;
}

.main-wrapper {
  overflow: hidden;
}

.ham {
  width: em(65);
  height: em(65);
  top: em(20);
  right: em(20);
  border-radius: 4px;
  background-color: $primaryColor;
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: em(32);
    height: em(32);
  }
}

.logo {
  @media #{$small-only} {
    display: none;
  }

  width: 120px;
  height: 60px;
  position: absolute;
  top: 35px;
  left: 40px;
  z-index: 10;

  svg {
    width: 100%;
    height: 100%;
  }
}

.row {
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  margin: 0 auto;

  @media #{$medium-up} {
    padding: 0 em(20);
    flex-direction: row;
  }
}






















/** TESTING PURPOSE ONLY **/
#nextprev {
  position: fixed;
  color: white;
  top: 20px;
  left: 20px;
  z-index: 1000;
  font-family: arial;
  display:flex;
  div {
    margin: 0 20px;
    cursor: pointer;
    &:hover { font-weight: bold; }
  }
}

#log {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  position: fixed;
  bottom: 20px;
  width: 400px;
  z-index: 200;
  color: white;
  left: 20px;
  display: flex;
  flex-direction: column;
  opacity: .4;
  pointer-events: none;

  .info {
    opacity: .5;
  }

  .error {
    color: red;
  }
}
