@import '../../src/css/bootstrap-modal.scss';

@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,800';

@import 'helpers/normalize';
@import 'helpers/breakpoints';

@import 'variables';

@import 'buttons';
@import 'typography';

@import 'headers';
@import 'slide';
@import 'slideNavButtons';
@import 'subPage';

@import 'home/landing';
@import 'home/mission';
@import 'home/vision';
@import 'home/progres';
@import 'home/chiffres';

@import 'equipe/competences-equipes.scss';
@import 'equipe/portraits';
@import 'equipe/culture.scss';
@import 'equipe/calltoaction.scss';

@import 'recette/magie.scss';
@import 'recette/be-agile.scss';
@import 'recette/demarche.scss';
@import 'recette/benefices.scss';

@import 'references/etudes-de-cas.scss';

@import 'events';
@import 'contact';

@import 'footer';

@import 'table';

@import 'timeline';

@import 'badge';

* {
  box-sizing: border-box;
}

html {
  font-size: 70%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media #{$medium-up} {
    font-size: 80%;
  }

  @media #{$large-up} {
    font-size: 100%;
  }
}

body {
  margin: 0;
  @extend %contentFont;
  color: $secondaryColor;

  &:after {
    content: '';
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 8;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
  }

  &:before {
    content: '';
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(white, 0.5);
    background-image: url(/images/rolling.gif);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center center;
    z-index: 1000;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events:none;
  }
}

.body {
  &--isLoading {
    &:before {
      opacity: 1;
      pointer-events:auto;
    }
  }
}

a {
  text-decoration: none;
  color: #44b7e9;
}


.body--hasOverlay {
  .slide {
    overflow: hidden;
  }

  .ham {
    transform: translateX(150px);
  }
}

.main-wrapper {
  overflow: hidden;
}

.ham {
  @extend %shadow;

  width: em(65);
  height: em(65);
  top: em(30);
  right: em(30);
  border-radius: 4px;
  background-color: $primaryColor;
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform .5s cubic-bezier(.8,-0.86,.32,1.58);
  cursor: pointer;

  background-image: url(/images/menu-ico.svg);
  background-position: center center;
  background-size: em(32);
  background-repeat: no-repeat;
}

.body--hasMenuOpened .ham {
  background-image: url(/images/close.svg);
}

.logo {
  @media #{$small-only} {
    width: 90px;
    height: 40px;
    top: 20px;
    left: 20px;
    z-index: 5;
  }

  width: 120px;
  height: 60px;
  position: absolute;
  top: 35px;
  left: 40px;

  svg {
    width: 100%;
    height: 100%;
  }
}

.row {
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
  flex-wrap: wrap;

  @media #{$medium-up} {
    padding: 0 em(20);
    flex-direction: row;
  }
}

.nav {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  bottom: 0;
  background: $secondaryColor;
  transform: translateX(100%);
  transition: transform .5s cubic-bezier(.94,.13,.14,1.23);
  display:flex;
  right: -100px;
  padding-right: 100px;


  @media #{$medium-up} {
    left: auto;
    width: 100%;
    max-width: 600px;
  }

  &__container {
    &:after {
      content: '';
      background-image: url(/images/sourire.svg);
      width: 210px;
      height: 35px;
      display: block;
      background-size: 100%;
      position: absolute;
      bottom: 35px;
      left: 50%;
      transform: translateX(-50%);
    }
    overflow: auto;
    position: relative;
    flex: 1;
  }

  &__logo {
    margin-left: 20px;
    margin-top: 20px;
    width: 100px;
    display: block;

    @media #{$medium-up} {
      width: 130px;
    }

    svg {
      width: 100%;
    }
  }

  &__menu {
    display:flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 20px;

    a {
      @extend %headingBoldFont;
      font-size: 20px;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      margin-top: 15px;
      position: relative;

      @media #{$medium-up} {
        font-size: 30px;
        margin-top: 20px;
      }

      &:before {
        opacity: 0;
        content: '';
        background: url(/images/fleche-orange.svg);
        width: 18px;
        height: 14px;
        position: absolute;
        top: 50%;
        right: -60px;
        background-size: 100%;
        transform: translatey(-50%);
        transition: .5s ease;

        @media #{$medium-up} {
          width: 24px;
          height: 19px;
        }
      }

      &:hover {

        &:before {
          right: -40px;
          opacity: 1;
        }
      }
    }

    a.secondary{
      font-size: 12px;
      @media #{$medium-up} {
        font-size: 16px;
        margin-top: 16px;
      }
    }
  }
}

.body--hasMenuOpened {
  .nav {
    transform: translateX(0);
  }

  &:after {
    opacity: 1;
    pointer-events: auto;
  }
}

.b-lazy {
  transition: opacity 1s;
  max-width: 100%;
  opacity: 0;

  &.b-loaded {
    opacity: 1;
  }
}

.modal {
  text-align: center;
}

@media screen and (min-width: 324px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height:75%;
  }
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width:75%;
    height:50%;
  }
  iframe{
    width:100%;
    height:360px;
  }
}


@media screen and (min-width: 768px) { 
  .modal:before {
    height: 75%;
  }
  .modal-dialog {
    width:auto;
    height:50%;
  }
  iframe{
    width:853px;
    height:480px;
  }
}

@media screen and (min-width: 1280px) { 
  .modal:before {
    height: 100%;
  }
  .modal-dialog {
    width:auto;
    height:50%;
  }
  iframe{
    width:853px;
    height:480px;
  }
}

@media screen and (min-width: 1280px), screen and (aspect-ratio: 16/10){ 
  .modal:before {
    height: 75%;
  }
}

#espace-sud-map-google{
  margin:auto;
}

#location-espace-sud{
  margin:auto;
}

#location-espace-sud-contact{
  margin:auto;
  padding-bottom:10px;
}

#location-espace-sud-table th,td{
  border : 1px solid #ddd;
}

.cd-timeline-content{
  background-color:#e9f0f5;
}

.cd-timeline-content:hover{
  box-shadow: 1px 1px 12px #555;
}

.cd-timeline-content h2{
  color:#44b7e9;
}

.type-evenement{
  top:10px;
  right:10px;
  position:absolute;
  left:10px;
  border-radius:25px;
  background-color:#1d3f51;
}

#titre-evenement{
  color:#fc4c02;
}

@media only screen and (max-width: 1170px) {
  #titre-evenement{
    margin-top:25px;
  }
  .cd-timeline-img i{
    margin-left: -11px;
    margin-top: -10px;
  }
}

.badge-info-formation{
  background-color:#5bc0de;
  padding:8px;
  font-size:10px;
  margin-top:10px;
}

.badge-info-dates{
  background-color:#5cb85c;
  padding:8px;
  font-size:10px;
  margin-top:10px;
}

.badge-timeline{
  padding:5px;
  margin-top:4px;
  font-size:12px;
  padding:8px;
}

.badge-info-numero-formation{
  background-color:#337ab7;
  padding:8px;
  font-size:10px;
  margin-top:10px;
}

@media only screen and (min-width: 1170px) {
  .badge-info-formation,.badge-info-dates,.badge-info-numero-formation{
    padding:15px;
    font-size:24px;
    margin-top:0px;
  }
  .badge-timeline{
    padding:12px;
    font-size:18px;
    margin-top:7px;
  }
}
p.intro-formation{
  text-align:center;
  margin-bottom:0px;
}

#conteneur-repartition-methodologie{
  width:200px;
  height:200px;
  margin:auto;
}

@media only screen and (min-width: 1170px) {
#conteneur-repartition-methodologie{
  width:400px;
  height:400px;
  }
}

#contact-formation{
  margin-top:20px;
}

p.prochaines-dates{
  margin-bottom:0px;
}